[2013-04-10 18:09] RoFz opened #2 "Accented chararacters converted to '?' after DKIM Transport Agent is enabled"
Hello,

Firstly i would like to tell that this is a great initiative and a very promising project, so thank you for bringing DKIM to Exchange environments. And for FREE.

We may have found a problem with the DKIM module that is related to messages containing accented characters when they are received by SMTP through an internal Receive Connector. DKIM works flawlessly when sending messages from Ou

[2013-04-11 12:37] ChronoGuru opened #3 "Install-TransportAgent: Could not load file or assembly"
Following the instructions, I have the files in the file location mentioned. When I run the command for "Install-TransportAgent" this is the output error I receive:

"[PS] C:\Windows\system32>Install-TransportAgent -Name "Exchange DKIM" -TransportAgentFactory "Exchange.DkimSigner.DkimSi
gningRoutingAgentFactory" -AssemblyPath "C:\Program Files\Exchange DKIM\Exchange.DkimSigner.dll"
Install-Transpo

[2013-04-12 11:22] #3 closed, assigned to nobody

[2013-04-12 12:01] Pro opened #4 "Setting to enable DKIM only for specific target domains"
Add a setting to enable DKIM signing only for specific target domains.

E.g. if someone only wants to sign outgoing mails to yahoo.com and leave all others as they are.

[2013-05-14 09:17] j-kerry opened #5 "Exchange 2010 SP2 Not supported"
I don't really mind if this issue will be fixed, since I've upgraded to SP3, but if anyone get this message:
The TransportAgentFactory type "Exchange.DkimSigner.DkimSigningRoutingAgentFactory" doesn't exist. The TransportAgentFactory type must be the Microsoft .NET class type of the transport agent factory.
Parameter name: TransportAgentFactory
    + CategoryInfo          : InvalidArgument: (:) [I

[2013-07-05 14:08] scorniglion opened #6 "Any chance for Exchange 2013?!!"
Hi there,

Sorry to be so cheeky, but I tried to recompile dkim-exchange with VS 2012, under .Net 4.0 target. The procedure went fine, but Exchange won't send any more emails…!

I'm not exactly sure where to look for in the hundreds of various log files.

Any chance of a hand there?

Thanks for your help.
Regards
Sebastien

[2013-07-08 10:54] VirtualLaw opened #7 "Exchange 2007"
Tried to install on Exchange 2007. Should that work, too?

When installing the transport agent I receive an error. The TransportAgentFactory type doesnt exist. It has to be a transport-AgentFactory .net class.

Install-TransportAgent : Der TransportAgentFactory-Typ 'Exchange.DkimSigner.Dkim
SigningRoutingAgentFactory' ist nicht vorhanden. Er muss dem Microsoft .NET-Kla
ssentyp der Transport-Agentf

[2013-07-08 17:45] #6 closed, assigned to nobody

[2013-11-07 18:25] billsey opened #8 ""Exchange.DkimSigner.DkimSigningRoutingAgentFactory" doesn't exist."
I get this error when trying to execute the first command in Exchange Management Shell. What step have I missed?

[PS] C:\Windows\system32>Install-TransportAgent -Name "Exchange DKIM" -TransportAgentFactory "Exchange.DkimSigner.DkimSi
gningRoutingAgentFactory" -AssemblyPath "C:\Program Files\Exchange-DKIM\Exchange.DkimSigner.dll"
The TransportAgentFactory type "Exchange.DkimSigner.DkimSigningRouti

[2013-11-08 14:51] #7 closed, assigned to nobody

[2013-11-08 14:53] #5 closed, assigned to nobody

[2013-11-26 21:21] #8 closed, assigned to nobody

[2013-11-29 17:09] mapthegod opened #10 "Install Error on Exchange 2013"
During the Install-TransportAgent and subsequently Enable-TransportAgent i get the following error:
[PS] C:\Users\Administrator.XXX\Desktop\dkim-exchange-fix-exchange2013>Install-TransportAgent -Name "Exchange DkimSigner" -TransportAgentFactory "Exchange.DkimSigner.DkimSigningRoutingAgentFactory" -AssemblyPath "C:\Program Files\Exchange DkimSigner\ExchangeDkimSigner.dll"
Die Datei oder Assembly "f

[2013-11-29 18:11] #10 closed, assigned to nobody

[2014-01-17 11:21] psdogado opened #13 "DLL for Exchange 2013 CU3"
if you would like to update your project with Exchange 2013 CU3, i've uploaded a compiled version of your project here http://sdrv.ms/1b7Ixsv

[2014-01-17 14:20] #13 closed, assigned to nobody

[2014-01-18 11:13] #2 closed, assigned to nobody

[2014-03-07 09:57] #4 closed, assigned to nobody

[2014-03-11 19:36] ghost opened #17 "Exchange 2010 SP2"
Hello,
Where can I download the version for Exchange 2010 SP2?  I saw there was a bug and then a fix and wondering if I can get that version.  The newest version seems not to be working for me.

Wally

[2014-03-11 20:19] brucestclair opened #18 "Cert import"
I got the whoel DNS thing without any problems but the private RSA key I have no clue how to import it.  Cert Manager does not like the file no matte rwhat extension I put on it.  For your solution how should I import the private key?  I must be missing somethign silly but after 2 hours I decided not to fight it anymore.

[2014-03-12 19:49] #18 closed, assigned to nobody

[2014-03-12 19:50] Pro opened #20 "Since version 1.7 signing is broken"
@AlexLaroche I just tested Version 1.7 (and 1.8) and it looks like since your relaxed implementation the signing is broken. Did you test your implementation when you finished it?

[2014-03-12 20:43] #20 closed, assigned to nobody

[2014-03-12 22:32] AlexLaroche opened #21 "DomainKeys/DKIM"
Should be interessant to add a DomainKeys signer at your existing DKIM signer and use any combinaison between Dkim, DomainKeys or DKIM/DomainKeys as it's possible in the EA DomainKeys/DKIM solution from Email Architect.

[2014-03-13 06:35] Pro opened #22 "Add Unit Tests"
Add Unit Tests (usable by Travis CI) to test functionality of Signing, Regex, Configuration Errors....

[2014-03-13 06:37] Pro opened #23 "GUI for installation and configuration"
Create a simple GUI with following features:
- Download and install the transport agent
- Update functionality of agent
- Configuration tool

[2014-03-14 15:12] psdogado opened #24 "Possible Fix for Installation issues on Exchange 2013 SP1"
Just found an interesting KB article concerning installing 3rd party transport agents on Exchange 2013 SP1.

Maybe it helps with some issues i've seen on the email notifications:

http://support.microsoft.com/kb/2938053/en-us

"After you install Microsoft Exchange Server 2013 Service Pack 1 (SP1) or you upgrade an existing Microsoft Exchange Server 2013 installation to Exchange Server 2013 SP1, th

[2014-03-14 15:16] #24 closed, assigned to nobody

[2014-03-16 21:48] #17 closed, assigned to nobody

[2014-03-17 23:10] ghost opened #25 "Add new domain to current setup"
Hello,
If I need to add a domain to the current setup do I need to uninstall/reinstall and change the config file or do I just update the config file with the changes?

Does each domain need it's own set of keys or can i use the same key file?

Wally

[2014-03-18 07:10] #25 closed, assigned to nobody

[2014-03-20 13:43] ghost opened #27 "Latest Version Issues"
Hello,
I downloaded the latest version and it was not signing my email.  I checked eventlog and found this below.  I decided to roll-back to an older version and it worked fine.

Let me know if you need anything.  Not sure how to check what version I installed but if you tell me how, I will check.  The older version made me choose the version of Exchange.

The description for Event ID 0 from sourc

[2014-03-20 23:31] #27 closed, assigned to nobody

[2014-04-24 08:24] Pro opened #34 "[GUI] move version check into separate thread"
Currently the version check (installed version, available version) is performed in the GUI thread therefore the GUI blocks for a few seconds when starting up.
We should move this part into a separate thread.

[2014-04-24 15:28] #34 closed, assigned to nobody

[2014-04-27 17:09] Pro opened #35 "Loading spinner for version"
Instead of showing an empty TextBox for the available version during version fetch, we should show something like "loading" and even better a loading spinner.

Test it by disabling your internet connection and wait for the timeout.

[2014-04-27 17:11] Pro opened #36 "Ask for 'Save config' only if changed"
The MessageBox 'Do you want to save the current configuration" should only show up if the user really changed something.

[2014-04-27 17:15] AlexLaroche opened #37 "Suggest a DNS record to add when a private key have been generated or it haven't been published"

[2014-04-27 17:29] AlexLaroche opened #38 "Permit to generate 1024 or 2048 bits private key"

[2014-04-29 16:51] #36 closed, assigned to AlexLaroche

[2014-04-29 17:33] Pro opened #39 "Updater implementation"
The optimal steps to update the app is:
1. Download the new version to %temp% and extract
2. Start the new downloaded .exe with parameter `--upgrade` and current install path, then close current
3. Stop MSExchangeTransport and W3SVC
4. The new .exe overwrites the old version by copying itself to the install path. The .dll can be replaced because MSExchangeTransport isn't running. Move the file to

[2014-04-29 20:14] #35 closed, assigned to nobody

[2014-05-14 17:07] AlexLaroche opened #40 "Email not signed for recipient in cc and bcc"

[2014-06-03 14:20] rconuser opened #41 "Echange 2013 CU5 support"
Exchange 2013 CU5 is out: http://blogs.technet.com/b/exchange/archive/2014/05/27/released-exchange-server-2013-cumulative-update-5.aspx
Is it supported by dkim-exchange?
Thank you!

[2014-06-04 16:41] #39 closed, assigned to Pro

[2014-06-05 02:24] #40 closed, assigned to AlexLaroche

[2014-06-08 21:09] wchao opened #42 "Unable to load configuration"
After installing DkimSigner, I can't start the MSExchangeTransport service because the factory for DkimSigner aborts due to inability to load configuration. See below for the errors.

Error #1:

Failed to create agent factory for the agent 'Exchange DkimSigner' with error 'Failed to create type 'Exchange.DkimSigner.DkimSigningRoutingAgentFactory' from assembly 'C:\Program Files\Exchange DkimSigner

[2014-06-08 22:54] #42 closed, assigned to nobody

[2014-06-13 11:24] AlexLaroche opened #43 "Out of Office"
Some "out of office" messages going to Poison Queue for Exchange Agent 2.0. I'm not sure what modification have introduce this bug. I need to investigate the problem. I will correct this bug next week.

[2014-06-26 14:00] #23 closed, assigned to nobody

[2014-06-26 14:01] #37 closed, assigned to AlexLaroche

[2014-06-26 14:02] Pro opened #44 "Check if Exchange is installed on the server before to install DkimSigner Agent"
Before the user presses install, we should check if Exchange is even installed on the server.

[2014-06-26 14:03] Pro opened #45 "Check if the correct Exchange role is installed on the server (TransportHub or EdgeTransport)"
The Agent needs the TransportHub or EdgeTransport role on Exchange.
We should check if those are installed. If not ask the user if he wants to install them anyways.

[2014-06-26 15:46] Pro opened #46 "Headers to sign from list"
Don't use TextField for headers to sign configuration but a list where the user can select/add entries.

[2014-06-28 21:48] #41 closed, assigned to nobody

[2014-07-10 19:22] julianmaria opened #47 "Wrong Powershell credentials"
im trying to install 2.0.0-beta.2 with Configuration.DkimSigner.exe
Either if I choose to download from GUI or to install from zip, the same happens:

![notnull](https://cloud.githubusercontent.com/assets/8127994/3543901/e761d97e-0866-11e4-9e82-266eb9c6b759.png)

Error at Copying new files:
"Value can not be null"
"Parameter: path2"

Im using EDGE ROLE of Exchange Server 2010 SP2 (spanish) in Wind

[2014-07-11 11:56] #46 closed, assigned to nobody

[2014-07-14 08:35] Pro opened #48 "Update install.ps1 for 2.0.0"
The `install.ps1` and `uninstall.ps1` need to be updated for Version 2.0.0
- Copy `settings.xml`
- Copy `DkimSigner.Configuration.exe`
  Same for uninstall.

[2014-07-14 08:46] Pro opened #49 "Create Wiki entries for documentation"
We should create wiki entries for:
- How to install using GUI or with install.ps1 script
- How to configure the agent with the GUI or manually editing settings.xml
- https://github.com/Pro/dkim-exchange/blob/master/TROUBLESHOOT.md to wiki page
- Notes for developers (how to build the .dll, libraries needed, how to release)

[2014-07-14 09:09] Pro opened #50 "Missing resource entry"
There's an entry missing in the resources file. See message below from EventLog:

[code]

[2014-07-14 09:29] Pro opened #51 "Register message file for EventLog"
To avoid

[code]

showing up in the EventLog for each logged message, we need to register message files:
http://stackoverflow.com/questions/3412463/description-for-event-id-from-source-cannot-be-found.
http://www.eventsentry.com/blog/2008/04/event-log-message-files-the-de.html

[2014-07-14 09:38] Pro opened #52 "About dialog"
Add about dialog in the GUI showing detailed version information and build date, link to repository, authors, ...

[2014-07-14 16:27] AlexLaroche opened #53 "View event log related to DkimSigner in the GUI"

[2014-07-15 23:17] #38 closed, assigned to AlexLaroche

[2014-07-18 17:47] AlexLaroche opened #54 "Change transport agent priority"
Change transport agent priority using a simular feature

![sans titre](https://cloud.githubusercontent.com/assets/5282389/3629700/965e90ce-0ea3-11e4-8db8-bddb03d5eb19.png)

[2014-07-22 00:04] ghost opened #55 "DKIM 2.0 Version"
Hello,
I cannot start the Exchange Transport Service.  If I disable or uninstall, I can start.  Any suggestions?  New install of Exchange 2010.

Wally

[2014-07-27 14:19] #52 closed, assigned to nobody

[2014-07-31 12:37] #44 closed, assigned to nobody

[2014-08-10 22:25] miksonx opened #56 "Exchange 2010 SP3 RU2 version 14.03.0158.001 unable to start service process Exchange Transport DKIM 1.8.3"
I installed the DKIM 1.8.3 from the install.ps1 script for Exchange 2010 SP3 RU2 to match the Library 14.03.0158.001 for Exchange 2010 sp3 and after installation and configuration of the .config file and keys I'm unable to start the Exchange Transport process. The Event Log show the following error.

Watson report about to be sent for process id: 2712, with parameters: E12, c-RTL-AMD64, 14.03.0158

[2014-08-11 08:01] #56 closed, assigned to nobody

[2014-08-11 17:55] #50 closed, assigned to Pro

[2014-08-11 17:55] #51 closed, assigned to Pro

[2014-08-25 10:54] psdogado opened #58 "Configuration not accepted with version 2.0"
Hi,

I've upgraded our Exchange platform to CU5, so i needed to upgrade the transport agent to 2.0 beta 3.
It seems, that no dkim signatures are appended anymore to my mails. the event log shows "Exchange DKIM settings loaded: RsaSha1, Canonicalization Header Algorithm: Relaxed, Canonicalization Body Algorithm: Relaxed, Number of domains: 0". Why is my configuration (which works with 1.8.3) not ac

[2014-08-27 11:56] psdogado opened #59 "MSExchnangeTransport crashing because of Poison DKIM Message"
Hi,

our transport services keeps crashing because of a poison message from dkim:

event 10003, MSExchangeTransport

The transport process failed during message processing with the following call stack: System.Resources.MissingManifestResourceException: Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "Configuration.DkimSigner.Properties.Resourc

[2014-08-27 12:44] #59 closed, assigned to nobody

[2014-08-27 12:47] Pro opened #60 "Documentation for manual installation"
See also #58

[2014-08-27 12:50] #58 closed, assigned to nobody

[2014-08-27 12:52] #55 closed, assigned to nobody

[2014-08-27 22:35] #53 closed, assigned to Pro

[2014-09-08 11:55] tstar opened #61 "Suggested DNS record"
Hello!

dkim-exchange 2.0.0 RC1 in Configuration.DkimSigner/Domains show suggested DNS record only after creating new key and not on other cases. This is very inconvenient.

Also, the in the tab Information is displayed version 2.0.0, although I have installed version 2.0.0 (beta.4), and in the window About displays the version 2.0.0 RC1. I do not understand what I have installed version.

After i

[2014-09-11 14:51] #61 closed, assigned to nobody

[2014-09-11 15:26] #60 closed, assigned to nobody

[2014-09-11 15:26] #54 closed, assigned to nobody

[2014-09-11 15:26] #48 closed, assigned to nobody

[2014-09-11 15:27] #47 closed, assigned to nobody

[2014-09-11 15:27] #45 closed, assigned to nobody

[2014-09-11 15:34] #43 closed, assigned to AlexLaroche

[2014-09-15 13:30] tstar opened #62 "dkim=fail on reply"
Hello!

Noticed a strange thing. When you send the first letter, gmaill (and the other servers) says there are no errors, dkim=pass. But for answered letters from these servers an error dkim=fail. At the same time the letter still has the dkim signature: dkim-signature: v=1; a=rsa-sha1; s=mail; d=secret.com; c=relaxed/relaxed; q=dns/txt; h=Date:From:Message-ID:Subject:To; bh=bla bla bla;
It's just

[2014-09-15 14:01] Pro opened #63 "FromAddress not set"
Sometimes the log files in an error like:

[code]

Related to this line: https://github.com/Pro/dkim-exchange/blob/master/Src/Exchange.DkimSigner/DkimSigningRoutingAgent.cs#L80

[2014-09-17 19:45] #62 closed, assigned to Pro

[2014-09-17 19:45] #63 closed, assigned to nobody

[2014-09-18 07:36] psdogado opened #64 "Ms kb entry for DKIM"
Hi,

Jfyi

http://support.microsoft.com/kb/2993556/en-us?sd=rss&spid=16662

Kind regards,
Peter

[2014-09-18 08:03] #64 closed, assigned to nobody

[2014-09-19 20:15] Benjile opened #65 "Forwarded Email"
Hello (french here so sorry for my english i'll do my best),

I'm trying your project on an 2010 Exchange Server.
I had an issue on an incoming mail (from AOL) automatically forwarded to an external contact in GMAIL. The agent correctly signed  the email, but gmail tried to authenticate the mail with aol public DKIM key instead of my own public key which is normal.
So in fact the agent should not

[2014-09-19 21:06] #65 closed, assigned to nobody

[2014-10-04 18:57] Beetle-II opened #66 "Not signed on Exchange 2013 CU6"
Dkim-exchange installed and configured with GUI.
Transport agent installed and enabled.
Agent priority - 5 most maximum.
![dkim1](https://cloud.githubusercontent.com/assets/7140933/4516457/ded8f952-4bf7-11e4-890f-99e70bb9f9aa.png)

![dkim2](https://cloud.githubusercontent.com/assets/7140933/4516461/366850f0-4bf8-11e4-980e-1209d74539e1.png)

How to determine the cause of why the messages are not si

[2014-10-10 21:55] gogglespisano opened #67 "sub-domain not used in header"
I've configured example.com and sub,example.com.  Both have all the required dns keys (working on a previous version).

When I send mail from user@sub.example.com the header has d=example.com, not d=sub.example.com.  The earlier version sent d=sub.example.com.  I've tried change between simple and relaxed with no change.

is this a bug, or a new configuration setting I've missed?

Thanks,
-Stuart

[2014-10-24 15:05] Jay1980 opened #68 "CompactWhitespaces poor performance causes problems with big attachments"
Hi,

Bit of an odd one here. DKim signer has been working well for us but today noticed that our email had ground to a halt. Discovered that for certain emails they seem to get stuck in the submissions queue and the EdgeTransport starts using excessive CPU and memory. Disabling the DKim Signer agent and restarting the MSTransportAgent allows the messages to leave the server and everything returns

[2014-11-06 04:58] kingofdevil opened #69 "Private Key format support for PEM and DER"
Exchange 2010 SP3, Exchange DKIM Signer v2.0.3.
dkim=fail

Signing a mail item according to DKIM failed with an exception. Check the logged exception for details.
System.Exception: CryptoProvider for domain cangdv.vn is null.
   at Exchange.DkimSigner.DkimSigner.GetSignedDkimHeader(DomainElement domain, String unsignedDkimHeader, IEnumerable`1 canonicalizedHeaders) in c:\Users\Administrator\Deskto

[2014-11-12 17:22] #67 closed, assigned to nobody

[2014-11-13 15:51] #69 closed, assigned to Pro

[2014-11-14 03:56] AlexLaroche opened #70 "Coverity Scan"
What is static analysis?

Static analysis is a set of processes for finding source code defects and vulnerabilities.

In static analysis, the code under examination is not executed. As a result, test cases and specially designed input datasets are not required. Examination for defects and vulnerabilities is not limited to the lines of code that are run during some number of executions of the code,

[2014-11-14 11:51] #70 closed, assigned to Pro

[2014-11-16 19:34] #66 closed, assigned to nobody

[2014-11-27 15:56] #68 closed, assigned to Pro

[2014-11-30 21:18] gogglespisano opened #73 "Can't upgrade (or reinstall) on version 2.1.2"
Doing an upgrade from 2.0.3 to 2.1.2 or a reinstall of 2.1.2 fails on Exchange 2010 SP3 Update 7

It fails during the copying of 7 files with a "Folder In Use" error dialog.

I verified the upgrade had stopped the transport service when the error message is displayed.
Manually stopping the transport service before upgrading doesn't help.
Disabling the dkim signer before updating allows it to succe

[2014-11-30 21:23] gogglespisano opened #74 "About tab in 2.1.2 says version 2.0.3"
Upgraded to 2.1.2 from 2.0.3.

The Information tab says 2.1.2, but the About tab says 2.0.3.

[2014-11-30 21:57] gogglespisano opened #75 "Key length for generation setting should be remembered"
It would be nice if "Key length for generation" was remembered.

It could either be a per domain setting and reflect the length of the key for the currently selected domain, or it could be a global setting reflecting the last used and be moved to the dkim tab.

The main problem is that it's not easy to tell what length the current key is or what length you've been making keys in the past.

[2014-11-30 22:10] #74 closed, assigned to nobody

[2014-12-06 13:08] AlexLaroche opened #76 "Check if email already signed"

[2014-12-07 14:19] #76 closed, assigned to nobody

[2014-12-07 15:44] #73 closed, assigned to nobody

[2014-12-07 15:44] #75 closed, assigned to nobody

[2015-01-06 01:10] kungfutennis commented on #49
Maybe a dumb question, but which server role is this supposed to be installed on?  CAS or HUB?  Or Edge Transport if you have Edge?  or HUB if you don't?  The pay versions of this kind of thing imply it's for Edge Transport, because if you didn't have Edge Transport, you'd hopefully have a smarthost that could do the DKIM signing natively.

[2015-01-06 13:20] AlexLaroche commented on #49
It suppose to be installed on Edge and Hub server role depending of your infrastructure (Edge Transport or Mailbox server role on Exchange 2013).

[2015-01-06 13:40] kungfutennis commented on #49
Alexandre,

Thank you for taking the time to answer my question so quickly.

Thank you also for all the hard work.

Yung Kim
On Jan 6, 2015 5:20 AM, "Alexandre Laroche" <notifications@github.com>
wrote:

[2015-01-29 07:28] RostKost opened #77 "Cannot use dots in the selector field"
Error message: The selector should only contain characters, numbers and underscores.
So, I cannot use hostname feb2009.myesp._domainkey.example.com

http://dkimcore.org/specification.html
A selector is a string of no more than 63 lower-case alphanumeric characters (a-z or 0-9) followed by a period “.”, followed by another string of no more than 63 lower-case alphanumeric characters.

--
Rostislav.

[2015-01-29 07:42] Pro commented on #77
Oh, yes. That's a bug, namely this check is wrong:
https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/MainWindow.cs#L234
The regex should be something like `^[a-z0-9_]{1,63}(?:\.[a-z0-9_]{1,63})?$`

Until this is fixed in the next release, you can just add the selector without a point, then open the config file and edit the selector to contain a point (see https://github

[2015-01-30 17:22] #77 closed

[2015-02-16 08:09] mirsaeedii opened #78 "Access to the Key Path is denied."
Thanks you guys for your great work! Unfortunately DKIMSigner, does not sign messages in our server. In The EventLog Viewer, Following error is shown:

Couldn't load the key 'C:\Program Files\Exchange DkimSigner\keys\sohato.com.xml' for domain sohato.com. Error message: Access to the path 'C:\Program Files\Exchange DkimSigner\keys\sohato.com.xml' is denied.

what should I do?

[2015-02-16 08:21] mirsaeedii commented on #78
I Change the Key Location to be on my desktop. Now I`m getting another error:

The private key for domain sohato.com wasn't found: C:\Users\admin\Desktop\keys\sohato.com.xml

[2015-02-16 09:02] Pro commented on #78
Can you check the access rights for the folder `C:\Program Files\Exchange DkimSigner\keys\` and make sure that the files exist.
I think the user `SYSTEM` needs access rights.

Regarding the files on your desktop: Are you sure that the path is correct?
Please try another path, e.g. `C:\keys\foo.xml`

[2015-02-16 09:08] mirsaeedii commented on #78
I Solved it. It was about security and permission issues. I gave Full Access to the"keys" folder to the special "Everyone" user (of our Active Directory Domain). Now everything is working smoothly. thanks :)

[2015-02-16 09:09] #78 closed

[2015-02-27 10:02] MasterII opened #79 "Exchange 2003 support"
Hello,
I appreciate your DKIM agent for Exchange servers.

I have also many Exchange 2003 server running, boosting with some additional "sinks". Antivirus, greylist, spamassasin. But I could not find nothing for DKIM signing. Email architects cost 300$ for that, if consider, that total cost of SBS2003 solutions was about 250$ is quite out of mind. Exchange2003 is still very good email server, doin

[2015-02-27 11:03] Pro commented on #79
Writing an issue is fine for that :)
At least it is not planned to implement Support for Exchange 2003.
If you are also willing to test the implementation afterwards (as a beta tester), I can give it a try, but no promises?

I'll have to install Exchange 2003 on a virtual machine for that. Can you tell me exactly which Windows Version and which Exchange 2003 version you are using? (Installed Servi

[2015-02-27 15:37] MasterII commented on #79
Hello,

thank you for reply.

Yes, I can help with testing. I am not coder programmer at all, but windows systems administrator is my job.

I am running latest major version of Exchange 2003 Standard / Enterprise ServicePack 2. Exchange 2003 standard SP2 is included in Small Business Server 2003. (no windows update if it was not required by another system component)

Whole environments are combina

[2015-03-01 13:20] AlexLaroche commented on #79
Hi  Masterli,

Can you upload this four files? The file are locate under "C:\Program Files\Microsoft\Exchange Server\Public" by default.

Microsoft.Exchange.Data.Common.dll
Microsoft.Exchange.Data.Common.xml
Microsoft.Exchange.Data.Transport.dll
Microsoft.Exchange.Data.Transport.xml

Can you also post the result of this two commands (powershell)?

$hostname = hostname
$exchserver = Get-ExchangeSer

[2015-03-02 07:57] MasterII commented on #79
Hello,

there are no such files on Exchange 2003 SP2 installed on Windows 2003 server SP2 /R2. Also PowerShell is not common part of Windows 2003 server. Only PS 1.0 can be installed on Windows 2003 server, I am not using it in production environments.

If you need „local“ working Exchange 2003 machine, I can provide you one as a virtual machine. Just clear Windows 2003 server SP2 + Exchange 2003

[2015-03-04 22:09] AlexLaroche commented on #79
Hi Masterli,

I have you ever considerate migrate your anti-spam server? Microsoft stopped supporting Exchange 2003 last year and it will stop supporting Windows 2003 this year. Microsoft support the two last version of Exchange for their release you will be face of a problem one day. (Exchange 2013 > 2007, Exchange 2010 > 2003, Next release > 2010)

You can done really good and cheap anti-spam so

[2015-03-04 22:58] Pro commented on #79
In my opinion supporting such an old version which requires a lot of code changes and which complicates the code additionally wouldn't be a good solution. I'm not really a fan of that.

@AlexLaroche if we really implement Exchange 2003 support, we should create a new branch for it to keep our master branch clear of the changes and merge any changes from the master to this special Exchange 2003 bra

[2015-03-10 13:04] MasterII commented on #79
I am not forcing you into Exchange 2003 support. It should be great, but not necessary.

Just look at it without any version/age scale. SMTP itself is a standard, such a standard Exchange 2003 can handle perfectly. Any Microsoft "life circle/support" is just a profit level. Unless anything will change in SMTP communication, there is no old email server until it will be able communicate with others

[2015-03-20 18:43] hutch85 opened #80 ".NET requirements"
This is just more of an FYI; I went to install the latest version on Exchange 2010 SP3 and the installer says it needs .NET v4.5 installed.  Not a big deal but the Supported Versions section says .NET 3.5 for 2010 :-)

Thanks,
Mike

[2015-03-21 14:47] AlexLaroche commented on #80
The .dll (Exchange DKIM Signer) is compiled for .NET 3.5 (Exchange 2007 and 2010) or .NET 4 (Exchange 2013)

The .exe (Configuration DKIM Signer) is compiled for .NET 4.5.

It's possible to don't install .NET 4.5 but you will have to manually install (powershell script:  install.ps1) and configure the Exchange DKIM Signer (Edit with an editor .dll.config).

[2015-03-21 15:11] #80 closed

[2015-03-23 17:24] hutch85 commented on #80
Thanks Alex!

[2015-03-26 10:00] topcats opened #81 "Exchange 2013 CU8 (15.0.1076.9)"
Hi there

Any news when support for CU8 is going to be released?

Thanks

TC

[2015-03-26 10:25] Pro commented on #81
Do you have it already installed and could you send us the required files (zip them, change the file extension to .png and upload them here)

C:\Program Files\Microsoft\Exchange Server\V14\Public
Microsoft.Exchange.Data.Common.dll
Microsoft.Exchange.Data.Common.xml
Microsoft.Exchange.Data.Transport.dll
Microsoft.Exchange.Data.Transport.xml

We can then recompile it for this version.

[2015-03-26 10:59] topcats commented on #81
Hi

 Yes already installed

Files attached

However from a V15\Public folder

Thanks

T

________________________________
From: Stefan Profanter <notifications@github.com>
Sent: 26 March 2015 10:25
To: Pro/dkim-exchange
Cc: Tristan Coding
Subject: Re: [dkim-exchange] Exchange 2013 CU8 (15.0.1076.9) (#81)

Do you have it already installed and could you send us the required files (zip them, change t

[2015-03-26 11:01] Pro commented on #81
Didn't get the attachments. Github doesn't allow to respond to email including an attachment. You need to upload them directly on the Github page or send me a link where I can download the files (e.g. Dropbox or any other file hoster)

[2015-03-26 11:06] topcats commented on #81
hmm it would also appear that I can't attach a zip file to this post either...

http://dev.the-owls.org/dkim-exchange/Exchange2013-CU8.zip

[2015-03-26 23:59] AlexLaroche commented on #81
@Pro : Can you create a new release v2.1.4?

[2015-03-27 01:28] AlexLaroche commented on #79
I'm not sure if I will try the implementation. For the moment, I don't have the time to don't it.
Can you upload the file in a ZIP file on WeTransfer? https://www.wetransfer.com/
If I decide to try the implement I would have the require files.

SMTP is standard but Exchange 2003 isn't more supported by Microsoft. If the server have a vulnerability, it will not be patch. It can be a risk for the se

[2015-03-27 09:50] Pro commented on #81
https://github.com/Pro/dkim-exchange/releases/tag/v2.1.4

[2015-03-27 09:50] #81 closed

[2015-04-08 07:55] AlwindB opened #84 "Google DKIM validation"
Using the DKIM-Exchange plugin I noticed that on the 2.1.4 install (clean install) on Exchange 2010 (14.3.123.4) that DKIM validation with Google does not detect the presence of a DKIM key (dkim=neutral).

Below the headers:

Received-SPF: pass (google.com: domain of A*****.*******@m*********.com designates *.*.*.* as permitted sender) client-ip=*.*.*.*;
Authentication-Results: mx.google.com;

[2015-04-08 18:34] nuronce opened #85 "exhange 2013"
Is 2013 supported?

[2015-04-08 19:07] nuronce commented on #85
I was on my phone found answer

[2015-04-08 19:07] #85 closed

[2015-04-08 22:15] AlexLaroche commented on #84
I did the test on my test server without any error... Could be a configuration problem? You should check your key in your DNS and in the Exchange DKIM Agent configuration?

[2015-04-08 22:20] AlexLaroche commented on #84
You could also try to test your configuration by sending a email to "check-auth@verifier.port25.com".

http://www.port25.com/support/authentication-center/email-verification/

[2015-04-09 06:57] AlwindB commented on #84
Hi Alex,

found out something interesting, when changing the header and body canonicalization, the validation of the DKIM passes or fails. Also the header changes from case sensitive to lowercase.

See my check below

header/body

simple/simple = pass
header start= DKIM-Signature: v=DKIM1; etc....

simple/relaxed = pass
header start= DKIM-Signature: v=DKIM1; etc....

relaxed/simple = fail
header s

[2015-04-09 09:15] topcats commented on #84
I am running Exchange 2013 CU8 with the new 2.1.4 and have just tested to the port25.com address

All appears fine for me

SPF check:          pass
 DomainKeys check:   neutral
 DKIM check:         pass
 Sender-ID check:    pass
 SpamAssassin check: ham

[2015-04-09 09:16] topcats commented on #85
yes am currently running exchange 2013 CU8 and it all appears to be working ok

[2015-04-09 14:34] AlwindB commented on #84
topcats, how is your setup simple/simple or one of the other options

[2015-04-09 21:50] topcats commented on #84
yes running simple/simple rsasha1

[2015-04-10 00:21] AlexLaroche commented on #84
I did a test yesterday with relaxed/relaxed and simple/simple without any problem... :/

[2015-04-10 06:54] AlwindB commented on #84
Regarding DKIM prefered options:
RFC advises sha256 above sha1, sha256 is also the default algorithm when it's not specified.

Some more information, running W2k8 R2 w/Exchange 2010.

When trying to build a native DKIM validation plugin (for DMARC) based on the Transport Agent we noticed that Exchange is altering some message headers. So it might be related to that, have to check up with my colleg

[2015-04-10 07:08] topcats commented on #84
I had a problem with sha256 when I was inserting the hash into the dns records.
It appeared to truncate the txt record, so I changed to sha1, which works ok

[2015-04-10 13:11] gogglespisano commented on #84
If you're using BIND DNS, there is a text length limit, but you can work around it,

"abcdef"
can be written as
"abc" "def"
or
("abc"
"def")

You can split a text value into smaller strings and it will glue it all back together.  If you want to spread it out over multiple lines, then surround the value in parenthesis.

[2015-04-13 12:09] topcats commented on #84
Am using a third party hosted dns web console, i'm stuck with it for now so a shorter key will have to do :(

[2015-04-13 20:34] AlexLaroche commented on #84
For Windows DNS servers, the long DKIM keys can be broken up into multiple lines when entering the record into the DNS management tool. A single long line will be truncated at 256 characters but multiple lines will be accepted. For example, the following DKIM record would be truncated when entering it into dnsmgmt:

"v=DKIM1; k=rsa; h=sha256 p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzLj8Fw4H27

[2015-04-24 21:53] AlexLaroche commented on #84
Please reopen if the problem isn't solved.

[2015-04-24 21:53] #84 closed

[2015-05-08 13:27] idevice opened #86 "Exchange 2007 - "body hash did not verify" if Content-Transfer-Encoding: 8bit is set"
Hello,

at the first, thanks developing and sharing such a great extension for Exchange :)
I am trying to deploy it on Exchange 2007 (v. 8.3.83.6) running on SBS 2008 server.
DKIM signing works great with Outlook/OWA/Apple Mail, but with Thunderbird I got
" (body hash did not verify) header.i@ " error.  Its seems to be related to 8bit encoding, because when message is send though Thunderbird, `con

[2015-05-08 13:58] Pro opened #87 "Does simple/simple (normalizing) break S/MIME?"
If canonicalization `simple` is used, it may break an already existing S/MIME signature because the body is changed (i.e. line endings and header names are normalized according to the DKIM RFC)

This needs further investigation. See also #86

[2015-05-08 14:01] Pro commented on #86
It may be related to the fact you mentioned that some clients convert `8bit` to `quoted printable` or `7bit` which of course breaks the hashsum.
As the DKIM RFC states, the message should be converted to `quoted printable`: http://tools.ietf.org/html/rfc4871#section-5.3

See also: http://stbuehler.de/blog/article/2011/05/19/dkim_fails_at_content-transfer-encoding.html

But letting the dkim-signer

[2015-05-08 14:09] Pro commented on #86
@idevice do you have the possibility to test again with `EA DomainKeys/DKIM` and check what happens if you send an e-mail as 8bit encoded, which was signed with S/MIME?
Does it break the S/MIME signature?

[2015-05-08 14:49] idevice commented on #86
when use S/MIME signature it seems that its automatically switched to quoted-printable, because when I do it, I receive message in quoted-printable encoding  - properly DKIM signed via both dkim transport agents  - EA and Yours, and also  S/MIME gives me results that message is properly signed without content modifications... Just now I am trying find how to force 8-bit with S/MIME...

[2015-05-08 14:56] Pro commented on #86
Thanks for testing! I've also found an option to force `quoted-printable` within firefox. You need to set `mail.strictly_mime` to true within the hidden properties (see http://forums.mozillazine.org/viewtopic.php?f=28&t=1697835) But it's not practicable to tell every user of the mail server to set this setting, thus we need to find another option, e.g. the settings mentioned above.

[2015-05-08 15:01] idevice commented on #86
Yes, I found same thing, problem is that its forcing quoted-printable instead/over 8bit, but I still did not find opposite settings (eg. force Content-Transfer-Encoding: 8bit ) So I am not sure if I will be able to reproduce this behavior which you ask me for (8bit with SMIME over EA.. :/

[2015-05-08 15:28] idevice commented on #86
Maybe I am wrong, but it seems that 8-bit cant (shouldn't) be signed with S/MIME, according S/MIME RFC 5751 ( http://tools.ietf.org/html/rfc5751 ) At least signed part of multipart message should be converted to QP or B64 before signing.... so maybe it will helps with Dkimsigner 8bit to QP conversion..  (if I understand it well: when 8bit its present, we can assume that it should not be signed wit

[2015-05-08 16:16] Pro commented on #86
You are right, It's mentined in this section: http://tools.ietf.org/html/rfc5751#section-3.1.3 that S/MIME requires 7bit data (encoded as QP or base64). So the combination of 8bit+S/MIME should never occur. If the signer is confronted with such an email, we should generate an NDR and send it back to the sender as mentioned in the RFC:
[code]

[2015-05-08 16:20] Pro commented on #86
So the solution which we should implement is:

Convert 8bit to quoted-printable. If the signer gets an 8bit email with S/MIME, send an NDR (non delivery report) to the sender informing him about the non-conform message encoding.

[2015-05-08 18:34] idevice commented on #86
For me, its perfect, but i cant talk for other users, so its a question if dont make some gui settings adjustment like switch or check box for : - 8bit - pass as it as /or/ convert to QP and deny 8bit SMIME..

Anyway thanks a lot for quick investigate of this issue.

Odesláno z iPhonu

8. 5. 2015 v 18:20, Stefan Profanter <notifications@github.com>:

[2015-05-08 20:45] AlexLaroche commented on #87
@Pro : If canonicalization simple is active, we calculate the dkim signature on the original email. If canonicalization relaxed is active, we normalize a copy  of the email to calculate the email. We aren't supposed to change the original email. The only thing the signer is suppose to do is to add the calculated DKIM signature.

[2015-05-08 21:34] AlexLaroche commented on #86
@Pro : I also think that this is the better way to implement it.

Convert 8bit to quoted-printable. If the signer gets  an 8bits email with S/MIME, send a NDR (non delivery report) to the sender informing him about the non-conform message encoding standard.

Should we have an option where we could choose to send email without DKIM signing?

@idevice : Can you confirm that EA DomainKeys/DKIM conver

[2015-05-08 21:53] idevice commented on #86
Seems that EA keep 8bit somehow... Is there some private way how to provide you source code of messages? (new to github and I don't know how it works here..)

[2015-05-08 22:04] Pro commented on #86
You can send me a Mail to git@s.profanter.me containing all the private files

[2015-05-08 22:12] Pro commented on #87
Oh right, I mixed simple and relaxed up.
But I wasn't sure if if S/MIME also includes headers into the signature. Looked that up now and also the tests from Bug #86 confirm that we should be fine.

[2015-05-08 22:12] #87 closed

[2015-05-10 03:06] AlexLaroche commented on #86
@Pro : Have you experiment the problem on exchange 2010 or 2013? I think the current problem only apply to Exchange 2007?

https://technet.microsoft.com/en-us/library/gg144562(v=exchg.141).aspx
https://technet.microsoft.com/en-us/library/gg144562%28v=exchg.150%29.aspx

[2015-05-16 19:55] AlexLaroche commented on #86
@idevice: Can you try to update to Rollup 16 for Exchange Server 2007 Service Pack 3? Currently, only Exchange 2007 SP1 without any rollup are installed? May be this bug have been fix.

Source : http://social.technet.microsoft.com/wiki/contents/articles/240.exchange-server-and-update-rollup-build-numbers.aspx

[2015-05-16 20:14] AlexLaroche commented on #86
@idevice : You could also disable Exchange 8bitmime support. It will probably solve your problem because Thunderbird will have to use another Content-Tranfer-Encoding.

In PowershellShell : Set-ReceiveConnector -Identity "Connector Name" -EightBitMimeEnabled $False

Source (more tricky way - via ADSI) : http://h20564.www2.hp.com/hpsc/doc/public/display?docId=emr_na-c02449735

[2015-05-16 21:07] idevice commented on #86
i have Rollup 15 installed (version of exchange from my first post was taken from exchange management console - about - and there is only major "sp" version number - i am sorry for that misunderstanding)

for disabling 8bit directly on exchange resp. disable ESMTP.. - i already found that information (btw also on Microsoft site directly) but with warning that it shouldn't be done at least on main

[2015-05-21 23:08] AlexLaroche commented on #86
@idevice : Are you able to reproduce the problem with simple/simple configuration?

I think the problem is only with relaxed/relaxed configuration. (Precisely : I think it's when relaxed is use for generate body hash.)

[2015-06-29 21:56] rbfajardo opened #88 "Exchange 2013 CU9"
Will there be official support for Exchange 2013 CU9? Is the current build for CU8 compatible with CU9?

[2015-06-29 22:18] pavelkos commented on #88
Current build is incompatible with CU9

[2015-06-30 07:07] Pro commented on #88
CU8 isn't compatible with CU9 but we will release a version for CU9.
Can you upload the required DDLs somewhere and paste the link here?
See: https://github.com/Pro/dkim-exchange#required-dlls-for-developing

[2015-06-30 07:53] pavelkos commented on #88
Please check requested files - https://dl.dropboxusercontent.com/u/11127662/Exch.2013.CU9.Public.zip

[2015-07-03 19:00] Pro commented on #88
https://github.com/Pro/dkim-exchange/releases/tag/v2.1.5-beta

[2015-07-05 12:22] pavelkos commented on #88
![2015-07-05_15-21-17](https://cloud.githubusercontent.com/assets/13079391/8511619/957067b4-2329-11e5-9f4d-8ee8b4886c2e.jpg)

Cannot install or upgrade

[2015-07-05 12:29] pavelkos commented on #88
![2015-07-05_15-28-06](https://cloud.githubusercontent.com/assets/13079391/8511637/937efea6-232a-11e5-9d28-f448ff8af711.jpg)

![2015-07-05_15-21-17](https://cloud.githubusercontent.com/assets/13079391/8511638/97cc4496-232a-11e5-91c6-a12fe7256855.jpg)

Installer don't work

[2015-07-05 12:43] Pro commented on #88
Will check that, thanks!

[2015-07-05 16:04] AlexLaroche commented on #88
The problem is locate here : Configuration.DkimSigner/InstallWindow.cs, line 159 à 181

[code]

[2015-07-05 16:07] Pro commented on #88
Yep, thanks, forgot to add the CU9 Version string. I will fix that

[2015-07-05 21:11] Pro commented on #88
https://github.com/Pro/dkim-exchange/releases/tag/v2.1.5-beta.2

[2015-07-05 21:11] #88 closed

[2015-07-05 21:20] pavelkos commented on #88
Clean install work correctly. Upgrade from 2.1.4 work if I'm delete / rename folder with 2.1.4 version in program files folder

[2015-07-05 21:22] Pro commented on #88
That's strange, I just tested to update from v2.1.4 to 2.1.5-beta.2 and it worked for me. Will investigate that further. Thanks for the feedback.

[2015-07-05 21:25] pavelkos commented on #88
anyway thank you for greates product! ;)

[2015-07-07 09:20] mr-flibble commented on #49
Sorry for the silly question, but I did not find the answer anywhere.

**What is the recommended way to upgrade to a newer Exchange CU?**
Should I DKIM Signer before deactivate or uninstall, or update it? Or none of it and update it after upgrade to the new CU? Thank you.

[2015-07-07 12:50] pavelkos commented on #49
Hello! Cannot install (Exchange 2013 on WS 2008 R2)

![2015-07-07_15-48-10](https://cloud.githubusercontent.com/assets/13079391/8546354/d1d95160-24bf-11e5-8f8c-236c886dc559.jpg)

[2015-07-09 12:33] mr-flibble opened #89 "Add to readme: Upgrade approach for new CU"
Sorry for the silly question, but I did not find the answer anywhere.

What is the recommended way to upgrade to a newer Exchange CU if I have DKIM already installed?
Should I DKIM Signer before deactivate or uninstall, or update it? Or none of it and update it after upgrade to the new CU?
I think it would be good to add this information to the readme. Thank you.

[2015-07-09 14:15] gogglespisano commented on #89
I've wondered the same thing.  Since DKIM will break during the upgrade, should it be turned off before the update, then upgraded after exchange?  Is there any harm in leaving it running during the exchange upgrade?

The biggest concern would be causing the exchange update to fail or exchange transport fail to start after update.

[2015-07-09 14:25] rbfajardo commented on #89
If the concern is the transport service would fail to start, you can disable the DKIM transport agent prior to a CU upgrade. (Disable-TransportAgent)

You can then upgrade the DKIM transport agent using the config executable.

[2015-07-09 14:38] gogglespisano commented on #89
Is disabling dkim enough to keep it from literally being loaded, or just not in use?

If the dkim signer has dependencies that become incompatible during the exchange upgrade, can it cause the transport to fail to start even with the dkim signer disabled?

[2015-07-09 14:44] Pro commented on #89
You can use the Configuration Programm shipped with the signer to disable it, the update exchange, next update DKIM, then enable it again.

Disabling DKIM will disable it entirely, thus not loading the DLL.
I'll update the Readme for the instructions

[2015-07-09 15:12] pavelkos opened #90 "Server 2008 R2 + Exchange 2013 CU9 Install"
![2015-07-09_17-51-09](https://cloud.githubusercontent.com/assets/13079391/8598873/f3426c36-2665-11e5-9f37-807392522eb4.jpg)

Installer don't work on subject system

[2015-07-12 19:47] Pro commented on #89
https://github.com/Pro/dkim-exchange/commit/d4492979b6cbf6680f9b83fc8ac07f881af7cdbf

[2015-07-12 19:47] #89 closed

[2015-07-12 19:56] Pro commented on #90
This looks to me that there's still a problem with detecting the correct exchange version.
I have to update my installation first to debug this. In the meantime you can download the .dll and overwrite the existing one:
https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin/Exchange%202013%20SP1%20CU9

[2015-07-14 00:08] zrbite2k opened #91 "RSA Crypto files being generated in CryptoAPI directory during message signing"
Took a while for me to notice this, but ever since I upgraded to 2.1.3 from an old 1.8.x version, I am seeing  a small 1.45kb file created in C:\Windows\ServiceProfiles\NetworkService\AppData\Roaming\Microsoft\Crypto\RSA\S-1-5-20 for each message that is being signed. I have 5 million+ of these small ~2k files now which appear to be causing issues during disk scans and slowdowns each time new file

[2015-07-14 08:00] Pro commented on #91
Thanks for your report!

This may be related to the [PersistKeyInCsp](https://msdn.microsoft.com/en-us/library/system.security.cryptography.rsacryptoserviceprovider.persistkeyincsp%28v=vs.110%29.aspx) setting.
We will investigate that further.

Which versions are you using? (Windows, Exchange, Signer)

[2015-07-14 16:42] gogglespisano commented on #91
I had 600k+ of these from the last 15 months.

Server 2008 R2, Exchange 2010 (14.3.123.4), DKIM 2.12

[2015-07-14 17:18] gogglespisano commented on #91
It seems to be writing 8 of these files for every email sent.  Maybe coincidentally, I have 8 domains set up in my DKIM signer.

[2015-07-14 22:04] zrbite2k commented on #91
my environment is Windows Server 2008 R2, Exchange 2010 (14.3.123.4) SP1 RU1, DKIM 2.1.3

I do know this was not previously a problem. The oldest file dat in the Crypto\RSA\S-1-5-20 directory coincides with the date we updated to DKIM 2.1.3

[2015-07-28 14:44] gogglespisano commented on #91
Is there any update on the cause of the RSA files?  I'm getting 10k+ of these files a week.

[2015-07-28 19:25] Pro commented on #91
Sorry, unfortunately I didn't have much time lately to look into the problem. Hopefully I'll get some free time the coming days. If anyone of you has C# knowledge, we appreciate any help on identifying the bug :)

[2015-07-28 21:37] gogglespisano commented on #91
I don't know if it's the best or proper fix, but this seems to work:

If you add the KeyContainerName when creating the crypto provider it will reuse the same file.  I tried adding PersistKeyInCsp = false after creating the provider but it still writes the file.  I plumbed the domain name to use as the keyName.

CspParameters cspParameters = new CspParameters { KeyContainerName = keyName };
provid

[2015-07-28 21:42] gogglespisano opened #92 "Possible bug in btDisable.Text = (IsDkimAgentTransportInstalled ? "Disable" : "Enable")"
In:
        private void ExchangeTransportServiceWindows_Load(object sender, EventArgs e)
        {
            this.RefreshTransportServiceAgents();

            bool IsDkimAgentTransportInstalled = ExchangeServer.IsDkimAgentTransportInstalled();
            bool IsDkimAgentTransportEnabled = IsDkimAgentTransportInstalled && ExchangeServer.IsDkimAgentTransportEnabled();
            this.btDisable

[2015-07-28 23:00] AlexLaroche commented on #92
8c0ed68aba7593408f4596613338a8ba0a662145

[2015-07-29 21:25] AlexLaroche commented on #90
Please reopen if still not resolve.

[2015-07-29 21:25] #90 closed

[2015-07-30 09:18] pavelkos commented on #90
please provide direct link for zip archive for this files, so i'm can retest

[2015-08-01 15:04] Pro commented on #91
I modified the RSACryptoServiceProvider creation in my previous commit:
https://github.com/Pro/dkim-exchange/commit/d77ed86409320d81ea07d84b4328e63f1f2cc61a

This now uses the `KeyContainerName`.
I couldn't test the new code yet sind my VM is still updating which may take some time. In the meantime, if you want to test it, just overwrite your current .dll with this one: https://github.com/Pro/dkim

[2015-08-01 15:36] gogglespisano commented on #92
This is now backwards.  When it is enabled it should show "disable" as the choice and vice-versa.

[2015-08-01 15:38] gogglespisano commented on #92
Also, this code should be in RefreshTransportServiceAgents so that it updates when refreshed.

[2015-08-01 15:41] gogglespisano commented on #91
I built your changes and it looks like it's working.  I only have one set of files generated. :)

[2015-08-01 15:43] #92 closed

[2015-08-03 18:11] pavelkos opened #94 "Server 2008 R2 + Exchange 2013 CU9"
![2015-08-03_21-07-53](https://cloud.githubusercontent.com/assets/13079391/9044253/228e06ae-3a24-11e5-8ecf-68358b085cd0.png)

Won't install

[2015-08-03 18:24] Pro commented on #94
Are you using the beta release 2.1.5 or 2.1.4?
https://github.com/Pro/dkim-exchange/releases

[2015-08-03 18:36] pavelkos commented on #94
2.1.5.beta-2

[2015-08-03 19:52] #91 closed

[2015-08-03 20:04] Pro commented on #94
I just tested upgrading from version 2.0.0 to 2.1.5.beta-2 on my Windows 2012 R2 Server with Exchange 2013 CU9. It worked flawlessly. This seems to be a problem with Windows 2008.
I have to set up a new VM for testing, may take some time.

[2015-08-03 20:07] pavelkos commented on #94
For me 2.1.5 work good on many 2012R2 + Exch 2013 CU9. Problem only with 2008 R2. If you need some files from this install - please feel free ask me about it.

[2015-08-03 20:18] Pro commented on #94
It's quite strange that the message box above says Exchange Version `15.0.1104.5` which is definitely supported:

The check is here:
https://github.com/Pro/dkim-exchange/blob/a268bf9802a6c829d01113c94e397005d9ec839e/Src/Configuration.DkimSigner/InstallWindow.cs#L165

And the constants are defined here:
https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/Constants.cs#L37

[2015-08-03 21:07] gogglespisano commented on #94
@pavelkos If you open the exchange management (power)shell window, what does this command output?

Get-ExchangeServer | fl AdminDisplayVersion

[2015-08-03 21:24] gogglespisano commented on #94
@pavelkos Can you make sure that the Configuration.DkimSigner.exe that's running when you see the install failure message is the latest version, and not an earlier build or previous install?  Task Manager can show you where it was loaded from in the Command Line column (you may need to add this column), then check the version and timestamp on the file.

[2015-08-03 21:30] pavelkos commented on #94
VERBOSE: Connected to exch2-wbbr2.target.local.
[PS] C:\Windows\system32>Get-ExchangeServer | fl AdminDisplayVersion
AdminDisplayVersion : Version 15.0 (Build 1104.5)

![2015-08-04_0-29-15](https://cloud.githubusercontent.com/assets/13079391/9048205/fe69ed30-3a3f-11e5-8ff6-47ee8e590990.png)

have not any previous versions installed

[2015-08-03 21:35] gogglespisano commented on #94
Thanks @pavelkos.

When you click on install and while you have the failed install message showing, could you use Task Manager to get the full command line including parameters for Configuration.DkimSigner.exe while it's running?

[2015-08-03 21:41] pavelkos commented on #94
Command line column is empty, no parameters

![2015-08-04_0-40-47](https://cloud.githubusercontent.com/assets/13079391/9048399/80cfccbc-3a41-11e5-99ab-0b327315fe96.png)

[2015-08-03 21:53] gogglespisano commented on #94
Can you try running Configuration.DkimSigner.exe with only "--install" as the command line parameter.  It should open the Install window and you should be able to select the install location.  Wait several seconds before selecting the install choice and starting the install.  Does this procedure still produce the failure message?

[2015-08-03 21:59] pavelkos commented on #94
![2015-08-04_0-58-49](https://cloud.githubusercontent.com/assets/13079391/9048730/10dbc1ce-3a44-11e5-9858-6798359579cf.png)

[2015-08-03 22:31] gogglespisano commented on #94
I'm running out of ideas.  You shouldn't get that message unless the Configuration.DkimSigner.exe doesn't contain that version in it.  Either that or the version number looks the same, but for some reason is actually different in Unicode.  You could open the .exe in Notepad and then search for "1 1 0 4".  it should appear in a block like "1 5 . 0 . 1 1 0 4 . 5  +E x c h a n g e   2 0 1 3   S P 1

[2015-08-04 00:25] gogglespisano commented on #94
FYI, the versions shown that are available to install are downloaded by the app, so an older version of the installer will show even the latest version of the software and the latest revisions, even if it isn't up to date itself with the exchange version check.

Maybe the supported version list should be downloaded with the available versions data.

[2015-08-04 06:24] Pro commented on #94
Can you try the .exe from this zip: https://dl.dropboxusercontent.com/u/3233048/Release.zip
Open it with the command line parameter `--debug`
This will show an additional `Debug Helper` tab.

Wait until the main tab has loaded the Exchange version. Then switch to the Debug Tab and press the button. Post the message box output here (Screenshot, or just press Ctrl+C when the message box is open)

[2015-08-04 16:37] pavelkos commented on #94
Thank you. I'm try to clean up %temp% (in temp many {guid}.zip file's with dkimsigner inside. now all work fine (2.1.5-beta2)

[2015-08-04 18:31] #94 closed

[2015-08-05 23:16] samk1 opened #95 "Memory leak in Exchange 2013"
Hello

We are using DKIM signer in exchange 2013. After about ~24 hours the ammount of memory usage goes above the Edge Transport high threshold and messages are no longer delivered.

I have tried changing the medium threshold lower so that garbage collection runs more often but this does not free up any memory.

Please see attached screenshot - medium threshold was breached at 8:29AM, and the ser

[2015-08-06 06:07] Pro commented on #95
Please answer the following questions:
* Windows Server Version:
* Exchange Server Version:
* DKIM Singer version is installed:
* estimated number of mails sent per day:
* number of domains handled by the DKIM Signer:
* Are you sure that the DKIM signer is responsible for the memory usage? What happens if you disable it?

[2015-08-06 06:36] rbfajardo commented on #95
Sam, what version of Exchange? CU8 or 9? If you don't already have .Net framework 4.5.2 installed, I recommend upgrading to this version. There is not enough information in here to say this is DKIM-Exchange.

[2015-08-06 07:33] samk1 commented on #95
Hi, thanks for getting back to me.

It is not Exchange 2013 actually.

Windows Server Version: 2008 R2 Enterprise
Exchange Server Version: 2010 14.3.123.4
DKIM Signer Version: 2.1.4
Avg No of emails per day: 2000 out 5000 in
No of domains: 5

We have tried disabling the DKIM signer, and we do not have the issue in
that case.

.NET 4.5.2 is installed.

Regards, Sam

On Thu, Aug 6, 2015 at 4:36 PM,

[2015-08-06 11:44] gogglespisano commented on #95
I have the same OS/Exchange combination, but 8 domains with about 2000 emails a day.

Check this folder and see if you have a large number of key files:
C:\Windows\ServiceProfiles\NetworkService\AppData\Roaming\Microsoft\Crypto\RSA\S-1-5-20\  There was a bug that would have created a files for every domain for every email sent or received, so about 35k a day in your case.  The computer could be st

[2015-08-09 22:52] samk1 commented on #95
Hello

If I try to open that folder, it hangs my explorer.exe. So there is
definitely a problem there as you say. How do we resolve this?

Regards, Sam

On Thu, Aug 6, 2015 at 9:44 PM, Stuart Wyatt <notifications@github.com>
wrote:

[2015-08-09 23:07] gogglespisano commented on #95
explorer may show up eventually, but it will be slow at first.  i selected and deleted a few thousand at a time.

try using a command window and cd to that directory.  the dir and del commands won't need to read a cache everything like explorer does.  in my case, all the files in the folder were from dkim, so it was safe to delete them all.

[2015-08-10 03:25] samk1 commented on #95
Deleting the files is not a problem. If they are superfluous, how do we
stop them from being created in the first place?

On Mon, Aug 10, 2015 at 9:07 AM, Stuart Wyatt <notifications@github.com>
wrote:

[2015-08-10 03:56] gogglespisano commented on #95
There's a fix that stops the excess files from being created, but I don't know if the current prerelease build includes it.  Someone else needs to answer whether there's a build available.

Does deleting the files stop the memory problem you have?

[2015-08-10 04:28] samk1 commented on #95
I just deleted everything in that folder. Will have to wait a few hours to
see if this stops the memory from continuously increasing.

On Mon, Aug 10, 2015 at 1:56 PM, Stuart Wyatt <notifications@github.com>
wrote:

[2015-08-10 22:54] samk1 commented on #95
Still seem to be having the same issue unfortunately. I cleared out the files yesterday using del * /a /q. Running dir /a again this morning I can see that the directory has 46 000 files in it.

We have another server running the DKIM signer that is not having this issue. I think the difference is the server having the issue is the one that is actually sending outgoing e-mails.

The memory usage o

[2015-08-11 00:21] gogglespisano commented on #95
If you have 46k files in one day, you're doing far more traffic than I am, so although I see a little memory growth in EdgeTransport,exe, it's hard to know if it's proportional to the amount you're seeing.

I don't have time to do it until next week, but I'll look at the main code path to see if I can spot a leak.  I'd also like to look at when the keys are loaded or reloaded since the keys for al

[2015-08-11 00:28] samk1 commented on #95
OK sounds good. If you want us to run an instrumented build to gather more information about this problem that should be OK.

[2015-08-14 13:50] Pro commented on #95
I'll check the code too, the next days.
In the meantime you can try out the most recent build which already includes the fix for huge number of files created. Just replace the .dll (under `C:\Program Files\Exchange DkimSigner`) with this one: https://github.com/Pro/dkim-exchange/tree/master/Lib

(You may need to stop the "EdgeTransport" Service to overwrite the file)

[2015-08-16 01:05] netsujit opened #96 "Support for Exchange 2016"
I know Exchange 2016 has not released yet, however it's preview release is available. We are using it on a Test environment.

We would appreciate if you add support for Exchange 2016 in one of your next beta release.

[2015-08-16 12:08] Pro commented on #96
Can you upload the following files somewhere and post it here, so I can add Exchange 2016:

(Use the correct version instead of `V14`)

[code]

[2015-08-17 06:50] netsujit commented on #96
Hi there,

I've uploaded the required files here:
https://mega.nz/#!6hQhHRKA!Snj485tjalP_VgsAIcMZLt50ZFGBKCtMmXk_lrwL4K8

As per Microsoft site, the current version number for Exchange 2016 is 15.01.0225.016

Let me know if anything else is required.

[2015-08-18 23:18] samk1 commented on #95
Hi Stefan

I cannot find ExchangeDkimSigner.dll in the Exchange 2010 SP3 directory in the link you sent.

[2015-08-19 06:25] Pro commented on #95
Oh, sorry. Try this one:
https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin

[2015-08-21 17:43] Pro commented on #96
https://github.com/Pro/dkim-exchange/commit/0973c59f53c2f0cda25d210910eaaf6afb9d2aa9

[2015-08-21 17:43] #96 closed

[2015-08-28 07:31] kimurin opened #97 "2013 CU9 async error"
Hi.
I'am constantly getting error in Event Viewer after upgrading to 2013 CU9 and 2.1.5:
**"Agent 'Exchange DkimSigner' went async but did not call Resume on the new thread, while handling event 'OnCategorizedMessage'".**
Although this had no impact on functionality.

[2015-08-28 08:00] Pro commented on #97
Seems to be an Exchange 2013 specific problem.

This should be fixable modifying the code by adding `AsyncAgentContext.Resume()` (http://blogs.msdn.com/b/dvespa/archive/2013/02/18/exchange-2013-async-agent-resume-1057.aspx)

See also: http://support.threattracksecurity.com/support/discussions/topics/1000059425

[2015-09-09 17:28] #97 closed

[2015-09-09 17:30] Pro commented on #97
@kimurin Can you please try the .dll from here:
https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin

I tried adding the `Resume()` which should eliminate the message in the event viewer?!

[2015-09-10 09:55] kimurin commented on #97
Yep, errors are gone. Thanks!

[2015-09-22 20:52] pavelkos opened #98 "Exchange 2013 CU10"
Please add support for Exchange 2013 CU10. Which files from CU10 I'm need to upload ?

[2015-09-22 20:54] Pro commented on #98
[code]

[2015-09-22 20:59] pavelkos commented on #98
https://dl.dropboxusercontent.com/u/11127662/CU.10.Public.zip

[2015-09-22 21:08] #98 closed

[2015-09-22 21:11] Pro commented on #98
See https://github.com/Pro/dkim-exchange/releases/tag/v2.1.7

Please let me know if there are any problems

[2015-09-22 21:12] Pro commented on #95
@samk1 Do you still have the problem with memory leaks?

[2015-09-23 02:51] samk1 commented on #95
Hi Stefan

Actually we have set up a scheduled task to restart the service every 24
hours and configured thresholds and server memory so that it can last 24
hours without going into back pressure.  Obviously this is not an ideal
solution, but it has meant we've stopped paying so much attention to the
issue.

I have not tried the new build yet. I'll see if we can give this a go and
get back to you.

[2015-10-08 11:05] mr-flibble opened #99 "Signer doesn't sign NDR with emtpy FromAddress"
Hello, my DKIM signing is working fine, but i noticed strange Warning in Application event log from source Exchange DKIM:
Invalid from address: '<>'. Not signing email.

I have about one hundred of these events every day. (With log level Warning)

![dkimproblemlog](https://cloud.githubusercontent.com/assets/5197625/10364295/6a943f12-6dba-11e5-9b55-5896898eb087.png)

With debug event level enablet

[2015-10-08 11:49] Pro commented on #99
It seems that your server is sending E-Mails where no From address is set, therefore you get this error (see https://github.com/Pro/dkim-exchange/blob/9deeca73ab016097a4a3aadd91b234315266d2c6/Src/Exchange.DkimSigner/DkimSigningRoutingAgent.cs#L142)

Can you use the MS Exchange Toolbox to see if the E-Mails corresponding to the given Event Log time are valid?

[2015-10-08 13:42] mr-flibble commented on #99
you're right! There are some undeliverable mesages

![dkim_spamy](https://cloud.githubusercontent.com/assets/5197625/10366710/82024ace-6dcc-11e5-9219-977791f1eecf.png)

Unfortunately I can not find how to avoid them anywhere. Maybe it could be related to the quarantine mailbox where messages come even to nonexistent recipients.
On the other hand "BlankSenderBlockingEnabled" , is enabled

do you ha

[2015-10-08 13:51] Pro commented on #99
To me it looks like your server isn't configured properly which has nothing to do with DKIM signer.
Unfortunately I can't help you with that.
The indicated source IP "255.255.255.255" is also a bit strange.

Maybe googling helps you further.

[2015-10-08 14:36] psdogado opened #100 "Exchange 2016 RTM Support"
Please compile the agent for Exchange 2016 RTM Build .42

You can find the public dlls here:
http://1drv.ms/1Gy7WeY

[2015-10-08 17:31] Zuz666 commented on #99
Hi.
I have same issue with automatic responses. Message Tracker show only a "Return-Path" as "<>"., but "Sender" and "Recipients" is a valid e-mail addresses.
With Exchange Server 2010 (and 2007’s latest Service Pack) Microsoft has changed the behavior of automatic server based notifications, especially “Out of Office” replies to rely on RFC 2298. As per RFC 2298 Message Disposition Notification (

[2015-10-08 17:55] Pro commented on #99
Thanks for the info.
I could add a check to see if the from address is empty. if it is, then the message will be simply ignored and no warning message will be shown...

[2015-10-12 17:04] obramin opened #101 ""Configuration.DkimSigner.exe is not a valid Win32 application" error in Windows Server 2003"
Archive is ok, file not locked, but i can't execute it. =(
![ejlj4xvah0s9urnrhdigxa](https://cloud.githubusercontent.com/assets/15092843/10433652/7b1d9c4c-7135-11e5-8da1-5667d2f0fbb3.jpg)

[2015-10-12 20:22] Pro commented on #101
Honestly I never tried it on a Windows Server 2003 and since it's a quite old OS (support ended in July 2015) it's not supported by this signer.
The problem here is that the app is compiled for 64 bit and you installed a 32 bit windows which won't work.
You can try the manual installation, maybe that works? (see https://github.com/Pro/dkim-exchange#manual-install and https://github.com/Pro/dkim-ex

[2015-10-25 18:48] obramin commented on #101
OS version is 64-bit =(
![gm3cte8i5uw6mlxc3nsg](https://cloud.githubusercontent.com/assets/15092843/10717226/4202641a-7b7b-11e5-9bd3-31ec857d24a7.jpg)

[2015-10-27 20:15] rbfajardo opened #102 "Updgrade should use newly downloaded Configuration.exe"
I am getting an error when upgrading DKIM from 2.1.6 to 2.1.7.

Your Microsoft Exchange version isn't supported by the DKIM agent: 15.0.1130.7
I upgraded Exchange 2013 to CU10

Attached screenshot of error and version in hex

![version_not_supported](https://cloud.githubusercontent.com/assets/187106/10771198/86738ba4-7cbd-11e5-8db7-a2ee08b5e486.PNG)
![exchange_version_hex](https://cloud.githubuser

[2015-10-27 21:15] Pro commented on #102
That's strange. It should be supported, at least the version is mentioned in the constants:
https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/Constants.cs#L38

Are you sure that you upgraded to 2.1.7? Because the second screenshot mentiones `2.1.5`. You can check the Properties Dialog of the .exe file (using Windows Explorer)

[2015-10-27 21:55] gogglespisano commented on #102
I don't know if it's related, but when I do the update or reiinstall option, it updates all the files except Configuration.DkimSigner.exe which has an in use error, so the UI says 2.1.5 but almost all the files are actually 2.1.7.

[2015-10-27 22:01] rbfajardo commented on #102
My mistake, I did not launch the 2.1.7 "Configuration.DkimSigner" executable. I thought I could launch the existing one and do an online update. After launching the correct version of the executable, the installer updated the files.

[2015-10-27 22:04] Pro commented on #102
This may be the root cause for this problem... When the Update process is launched, the old dkim signer should close, but it seems that it is hanging somewhare and thus not closing which causes the copy operation to fail.

Maybe this bug was introduced in 2.1.5 where we updated the install process (https://github.com/Pro/dkim-exchange/releases/tag/v2.1.5).
The upgrading still needs some improvemen

[2015-10-27 22:15] AlexLaroche commented on #102
The main problem is that we should load Constants.cs from a XML file that we can get versions of supported Exchange. During the upgrade process, we just have to load the new version of the xml file.

The problem is here in the code. (Install function)

[code]

[2015-10-27 22:24] AlexLaroche commented on #101
Windows Server 2003 doesn't support .NET 4.5.
Windows Server 2003 only support .NET 4.0.

The configuration tool need .NET 4.5.
The signer need .NET 2.0 or .NET 4.0. (see documentation for more details)

You could manually install the DKIM Signer agent.

[2015-10-27 22:24] #101 closed

[2015-10-27 22:25] AlexLaroche commented on #79
Exchange 2003 will not be supported.

[2015-10-27 22:25] #79 closed

[2015-10-27 22:39] AlexLaroche commented on #99
Could we just comment that part? (DkimSigningRoutingAgent.cs line 141-147)
Are remove the expression "mailItem.FromAddress.DomainPart == null" from the check?

[code]

[2015-10-28 07:47] Pro commented on #99
@AlexLaroche I think the best solution for this is to comment out the `Logger.LogWarning` and keep the rest of the check, so that DKIM Signer silently ignores emtpy from addresses?

[2015-10-28 07:55] Pro commented on #102
The Constants.cs file is probably not the problem why the Configuration.exe doesn't close?
Creating an XML file just moves the constants into another place, so this wouldn't change much. It even makes the code more complex.

Maybe it's better to create an installer instead of the current approach? I.E. using Inno Setup.
Then the Configuration.exe downloads the installer and executes it. This will

[2015-10-28 12:18] AlexLaroche commented on #102
The Constants.cs is part of the executable. You can't close the file without reaload the executable.

The variable DKIM_SIGNER_VERSION_DIRECTORY should be in a XML file that we can load and unload having to restart the configuration application.

If you want to try to create a installer you cant try but your installer will have to be able to call external program to call powershell.

[code]

[code

[2015-10-28 15:01] gogglespisano commented on #102
Even if you put those values in an XML file, at some point you have to launch another process/installer AND close the current configuration executable or you wont be able to upgrade it during the install without an unnecessary reboot.

[2015-10-28 16:20] Pro commented on #102
Yes, that's why I don't see any advantage using XML instead of Constants.cs

But Alex is also right, that an installer wouldn't be that simple since it needs to call some Powershell Snippets.

So as a conclusion:
We need to improve our install process and find out why the Configuration.exe isn't properly closed here: https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/Mai

[2015-10-28 22:05] AlexLaroche commented on #102
Configuration.exe is properly closed. The problem isn't there.

The executable currently reload itself, not the new Configuration executable that will be downloaded later in the install process.

We can use Shadow Copy (http://blogs.msdn.com/b/junfeng/archive/2004/02/09/69919.aspx) feature to load the executable in memory and overwrite the existing executable be cause the file will not be lock (Sh

[2015-10-28 23:57] Pro commented on #102
Ok, then we shouldn't wonder why updating fails!
My first version launched the newly downloaded .exe, which is the right way to do it. (See https://github.com/Pro/dkim-exchange/commit/a2e69eaa15bd64a024fb60094f2a4a2086604500#diff-80fbe899548913d9af44190d7c253f97R756).
But it seems that this was changed during some refactoring, which is bad.
Using the just downloaded .exe allows us to fix bugs in t

[2015-10-29 00:23] AlexLaroche commented on #102
Download the package "Configuration.DkimSigner.zip" from the lastest release, extract the content and execute the "Configuration.DkimSigner.exe" from MainWindow.cs.

You could take example on what have been done in InstallWindow.cs.

The problem could be solve without rollback all the code changes. If you rollback all the changes, you will reintroduce thread bugs that is bad too. A lot of work hav

[2015-10-29 07:13] Pro commented on #102
Sorry, my comment wasn't really clear.
I did not mean to rollback the code but to change this behavior back to the old one using the current code

[2015-10-29 23:25] AlxVD opened #103 "Ex2007sp3rp17 edgetransport crash on config reload"
1. Installed v.2.1.7 (for Ex2007sp3rp17 on WinSrv2008R2, .net4.0)
2. Opened settings.xml in notepad++.
3. When I pressed "save" in notepad++ edgetransport.exe crashed with the following error:
[code]
-------------------------------------------------
Previous message in the Application log was: "Detected settings file change. Reloading..."
And the next message was from "error reporting service":
[c

[2015-10-30 00:01] AlxVD opened #104 "Ex2007sp3rp17 edgetransport unhandled exception on service stop"
1. Using v.2.1.7 (for Ex2007sp3rp17 on WinSrv2008R2, .net4.0).
2. Trying to stop or restart MSExchangeTransport service.
3. edgetransport.exe dies with an unhandled exception:
![ue](https://cloud.githubusercontent.com/assets/15388258/10835278/c766a902-7eb1-11e5-80e3-14cade55019b.png)

And here is Watson zipped dump/report files: https://cloud.mail.ru/public/6wBS/RowUBE1Ve

[2015-10-30 00:07] AlxVD commented on #103
Oh... The same crash happend with standard notepad...

[2015-10-30 00:40] gogglespisano commented on #103
This would be expected.  It can't read the file if you're modifying it.

Why are you making changes to the config file directly, rather than using the configuration program?

[2015-10-30 07:30] Pro commented on #103
Can you try to first shut down MSExchangeTransport, then modify the file and then start MSExchangeTransport again.
Modifying the file while MSExchangeTransport is running should work and it was already tested on Windows Server 2008 R2 with Exchange 2010...

[2015-10-30 07:30] Pro commented on #104
Is there any Message in the Event Log from the DKIM Signer?

[2015-10-30 07:56] AlxVD commented on #103
Of cause it works but... this is a workaround, isn't it?

[2015-10-30 08:07] AlxVD commented on #104
No. It goes like this in App log (even with LogLevel 4):
[code]

[2015-10-30 09:13] gogglespisano commented on #103
The settings code opens the file with fileshare.read.  Saving the file in notepad does not allow another process to open the file with fileshare.read.  It's a race condition.  sometimes it will work, sometimes not.  If you want it to work reliably, you'll need to catch the file sharing exception, wait a bit, and keep trying until notepad has let go of the file.

I've found that the signer loads on

[2015-10-30 09:37] AlxVD commented on #103
Reason: Exchange 2007. It's not supported to install .Net 4.5 on a server with Ex2007. And Configuration.DkimSigner.exe depends on 4.5.1.

[2015-10-30 09:47] gogglespisano commented on #103
OK.

Unless the code is changed to catch the file sharing exception and do a retry of loading the settings, you'll hit this exception at least some of the time, so the work-around is needed right now.

[2015-10-30 09:49] Pro commented on #103
Modifying the file manually is needed e.g. for the manual installation.
@gogglespisano do you have time to look into this again, why the settings are loaded for each email?

[2015-10-30 09:55] gogglespisano commented on #103
i'll try to look at it again.  I found it when looking at the edge transport memory leak/growth problem a couple months ago.  I saw that all the domains were loaded on each email (a performance hit) and then found the signer class itself was created on each email.

I started looking at the agent docs but didn't see an answer and then ran out of time.

[2015-10-30 10:00] gogglespisano commented on #103
The clue was that I get this settings loaded event message for every email message.

        private void LoadSettings()
        {
            Settings config = new Settings();
            config.InitHeadersToSign();

            if(config.Load(Path.Combine(Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location), "settings.xml")))
            {
                this.dkimSigner.UpdateSetting

[2015-10-30 10:23] AlxVD commented on #103
And yes BTW, config file reloading on each message looks really strange (saw that in the logs).

[2015-10-30 10:26] AlxVD commented on #103
So don't make new Settings object each time. Create one at agent start and reuse it.

[2015-10-30 12:43] InfoStroy commented on #99
@Pro  The real problem is we have to sign all outgoing messages to implement DMARC policy like reject or quarantine. All DSNs and MDNs (aka Return receipts) have to be signed.

[For MDNs (RFC 3798)  - page 8 ](https://tools.ietf.org/html/rfc3798#page-8)

[For DSNs (RFC 3461) - page 19] (http://tools.ietf.org/html/rfc3461#page-19)

[2015-10-30 14:03] Pro commented on #99
@InfoStroy thanks for the info!
So this means that we also need to sign outgoing mails which have an empty from address.

This leads to the problem on how to detect the from domain part correctly to select the correct signing key. Currently this is done using the DomainPart of the FromAddress.

I need to check if it is stored somewhere in one of the headers

[2015-10-30 14:23] gogglespisano commented on #103
The settings are only loaded during the creation of the agent.  The transport is creating a new instance of the agent for each message.

What I'm trying to determine is if it is normal for the agent to be created for each message and things like the settings need to be moved to another global object.  I haven't found any exchange documentation that says one way or the other.

[2015-10-30 14:44] gogglespisano commented on #103
@Pro If you look at the grey listing sdk sample, the settings and databse are loaded in the constructor of the agent factory, and released in the factory Close() method.  The settings are then passed to the agent during the factory CreateAgent() call.

So, the factory is long lived, but the agent is short lived, apparently per message.  I'll try moving the settings code to the factory and see what

[2015-10-30 15:19] gogglespisano commented on #103
@Pro I moved the code to the factory and it works fine as far as I can tell, including making config changes in the UI.  I would do a pull request, but my editor has different code style (spacing) than the dkim code so my change won't be formatted the same as the current code.  As an aside, that's why I don't do more work on the dkim signer.  The spacing and variable names are too different from t

[2015-10-30 15:28] gogglespisano commented on #103
In addition to only loading the settings at start and when changed, this also only creates a single file watcher for the settings instead of a new watcher on each message.

I'm watching the edgetransport.exe memory usage to see if that's improved.

[2015-10-30 15:30] gogglespisano commented on #95
Adding a link in this issue to another issue/fix that may help with this problem.

https://github.com/Pro/dkim-exchange/issues/103

[2015-10-30 17:57] Zuz666 commented on #99
@InfoStroy thank you for your interest in the issue! You're right.
@Pro perhaps in this case it is necessary to use mailItem.Message.EmailMessage.Sender property (only when mailItem.FromAddress.DomainPart == null)

[2015-10-30 18:00] gogglespisano commented on #103
I've also added lock() when loading and using the settings in the signer.

[2015-10-30 18:06] AlxVD commented on #104
Does anyone has some experience with WinDbg (to check dump file)?

[2015-10-30 18:23] Pro commented on #104
You can try the command `!analyze -v`. I already tried it, but the debugging symbols are missing (probably because the analysis has to be run on a Windows 2008 Server...)

[2015-10-30 19:11] AlxVD commented on #104
As far as I remember:
1. !analyze won't help with .Net process (and no one has symbols for edgetransport.exe; but you can load symbols for ExchangeDkimSigner.dll).
2. There were some specific extensions for WinDbg that can assist with .Net.

[2015-10-30 19:27] #103 closed

[2015-10-30 19:28] Pro commented on #103
I included your changes in the commit https://github.com/Pro/dkim-exchange/commit/7edfc90ecf715f6316b96495b7ef9a8856010099
What exactly did you mean by "added lock() ..."

[2015-10-30 19:33] Pro commented on #100
Will be included in the next release. Thanks!

[2015-10-30 19:33] #100 closed

[2015-10-30 19:48] gogglespisano commented on #103
Look for the 4 lock(this) in this DkimSigner.cs code.  I added it to protect the signing from a concurrent config change.

        public void UpdateSettings(Settings config)
        {
            lock( this )
            {
                // Load the list of domains
                this.domains.Clear();
                foreach( DomainElement domainElement in config.Domains )
                {

[2015-10-30 19:50] gogglespisano commented on #103
I didn't spend a lot of time analyzing the best way to add the locks, but I wanted to get some protection.  I think this covers the use of most (maybe all) of the variables modified when the config changes.

[2015-10-30 19:54] gogglespisano commented on #95
I think we should wait for @samk1 to confirm if the memory leak is fixed before closing this issue.  I never really saw the leak, but I have far less email traffic.  I think this change will dramtically reduce the code executed per email, but it still might not fix the leak.

[2015-10-30 21:00] #99 closed

[2015-10-30 22:13] #102 closed

[2015-10-30 22:30] Pro commented on #95
@samk1 can you test version 2.1.8
It is currently released as a prerelease and includes a fix which may have caused the memory leaks.

[2015-10-30 22:54] AlxVD commented on #103
Why did you close this issue after fixing absolutely different problem (setting reload on every message)?

[2015-10-30 23:09] rbfajardo commented on #104
The call stack in the crash dump throws an exception. Can't share anything else, don't know what I am looking at either.

System.Security.Cryptography.CryptographicException.ThrowCryptogaphicException

[2015-10-31 08:07] Pro commented on #103
@AlxVD I closed it because this crash was caused by the settings reload. After testing the new version on my server there weren't any crashes or problems. If the problem still persist on your PC, it's always possible to reopen the issue!

[2015-10-31 22:10] gogglespisano commented on #102
I installed 2.1.8 and I was then able to reinstall without getting the file in use error.

[2015-11-01 21:58] samk1 commented on #95
Hello

Sorry for not getting back to you sooner on this.

We noticed our backups of one of our exchange servers were starting to take longer and longer. It turns out this was caused by the creation of 1000s of files by DKIM signer (Since it's in the windows directory, it causes the VSS system writer to slow down), We fixed this by installing the dev version linked above.

I have not checked to see

[2015-11-02 09:14] stevemayster opened #105 "Sender and Recepient rule deprecated?"
Hello.
I don't think it's a issue but i don't know where to ask.
Is Sender and Recepient rule deprecated in v2.1.7?
I want to try dkim-exchange but don't want to local message signed,only remote.
In new example config sender and recepient rule not present.
Can i use this config?
Domain Domain="example.org" Selector="sel2013" PrivateKeyFile="keys/example.org.private" RecipientRule="yahoo\.[^\.]+"

[2015-11-02 09:59] Pro commented on #105
We removed those rules in version 2.0 since it caused some inconsistencies and problems.

I'm not 100% sure, but as far as I remember local/internal messages aren't signed if they aren't sent to another server.
Currently there aren't any plans to readd this feature. If someone is willing to spend some time on this, we can assess reintegrating it.

[2015-11-02 09:59] #105 closed

[2015-11-02 10:14] stevemayster commented on #105
Hello, Pro!
Many thanks for answer!

[2015-11-04 00:11] gogglespisano commented on #95
I'm running 2.1.8.  EdgeTransport.exe climbed to 351MB, but hasn't changed more than 1 MB in 2 days.

[2015-11-04 02:13] samk1 commented on #95
Hello

I've upgraded to 2.1.8, and EdgeTransport.exe is now steady at about 600MB on our main outgoing mail, server so it looks like the issue has been fixed.

Appreciate your support on this.

Regards, Sam

[2015-11-04 02:59] #95 closed

[2015-11-08 19:57] hooray4me opened #106 "Installation Issues"
I cannot get this installed. I've tired in multiple ways. What am I missing?
![image](https://cloud.githubusercontent.com/assets/12399138/11022282/7cc029c0-8620-11e5-9546-1fb5436a489b.png)
Then I don't get the option to install.
![image](https://cloud.githubusercontent.com/assets/12399138/11022285/8e1ba3e8-8620-11e5-90c8-f0384ef24f86.png)
I tired to install offline with out success
![image](https:

[2015-11-09 15:38] Pro commented on #106
The first message is default for the first start, we should change it to an information message, instead of error.

In the second screenshot it looks like you don't have internet connection or at least the GUI cannot connect to Github.

Regarding the offline installation, there was an error in the install script. Please use this one (https://github.com/Pro/dkim-exchange/blob/master/install.ps1). J

[2015-11-09 16:32] parthghetia commented on #106
I have the same issue as the OP. All other applications on the server can utilize the existing network connection. I don't know what could be blocking Configuration.DkimSigner

I have yet to try the offline installation with the updated install.ps1. When I get a chance, I'll let you guys know how it goes.

[2015-11-09 16:42] hooray4me commented on #106
The only way I was able to get  it installed was to walk thru each line of the install.ps1 and do it manually.

[2015-11-09 21:50] AlexLaroche commented on #106
Do you use any web proxy to filter web access?

[2015-11-10 06:34] AlxVD commented on #104
Ok. Today it crashed without my help (nobody tried to restart service).
At 0:00:07 and 0:00:08 there were 2 same errors in App-log:
"Couldn't load the key 'C:\Program Files\Exchange DkimSigner\keys\my-dkim-priv.pem' for domain unium.ru. Error message: Invalid DER format for key. (The process cannot access the file because it is being used by another process.
)"
After that at 0:19:39 edgetransport.

[2015-11-10 08:12] damien-giry opened #107 "DKIM Eventid error"
Release 2.1.8 is a huge improvement for signing NDR/OOF emails :)

FYI, since updating to 2.1.8, I got one error:

[code]
Br,

[2015-11-10 09:23] Pro commented on #107
Thanks for the feedback.
The `reference not set` exception seems to be related to the line
`string smtpAddress = mailItem.Message.Sender.SmtpAddress;`
which means that either `mailItem.Message` or `mailItem.Message.Sender` can be null sometimes. This needs an additional `if` check.

[2015-11-11 06:25] winterheart commented on #106
I got same issue. My workaround is check/uncheck "Include prerelease versions". After this "Upgrade" button becomes active, and after pressing it application installed correctly.

[2015-11-11 06:34] winterheart opened #108 ""Suggested DNS Record" and "Existing DNS" fields too small for real entries."
I installed dkim-exchange 2.1.8 and configured DKIM, but got errors "temperror (no key for signature)" from GMail after checking. It appears that I copied only first part of Suggested DNS record, so my public key has been broken in DNS.
Please add scroll bars or resize fields for "Suggested DNS Record" and "Existing DNS".
![dkim01](https://cloud.githubusercontent.com/assets/81112/11085423/037803a4

[2015-11-11 19:22] stevemayster opened #109 "MS Exchange Transport crash if private key is locked by another app"
Hello.
Recently install dkim-exchange and faced with issue.
In event log appears a error event like this:
Couldn't load the key key for domain example.com. Error message: Invalid DER format for key. (The process cannot access the file because it is being used by another process.) and when message transport crash and queue database is rebuilded.
Based on my research file maybe locked by antivirus s

[2015-11-11 21:20] gogglespisano commented on #109
Are you using 2.1.8?  I think the latest version only loads the keys on start or a settings change.

[2015-11-11 22:43] AlexLaroche commented on #108
fd8602adcd80b158c1af6397c1e6b9d8f914ecd0

[2015-11-11 22:43] #108 closed

[2015-11-12 05:51] stevemayster commented on #109
Hello gogglespisano.
No at that moment stable version is 2.1.7.
I think we need to wait what will Pro says)

[2015-11-12 07:17] Pro commented on #104
Can you upgrade to version 2.1.8
We changed a lot there. This may also fix the last exception you mentioned (see #109)

[2015-11-12 07:22] Pro commented on #109
You should upgrade to 2.1.8
We (esp. @gogglespisano) did some performance improvement which most probably fixes your issue. In v2.1.7 the key was loaded again for each mail.

One strange thing here:
The EdgeTtansport service should never crash because we catch all exceptions within the signer, so there may still be an issue somewhere else...

[2015-11-12 08:15] stevemayster commented on #109
Hello Pro.
Thanks for answer.
In log i found another error
Watson report about to be sent for process id: 12228, with parameters: E12, c-RTL-AMD64, 14.03.0158.001, edgetransport, mscorlib, S.S.C.CryptographicException.ThrowCryptogaphicException, S.S.Cryptography.CryptographicException, 202c, 02.00.50727.5477.
ErrorReportingEnabled: False
Maybe this help?
I think it's because Kaspersky AV doing som

[2015-11-12 08:27] Pro commented on #109
@AlxVD do you also use Kaspersky AV?

@stevemayster does this happen for every email or just some random ones?

[2015-11-12 08:57] stevemayster commented on #109
It's random, i do everything to put key in exception in Kaspersky, but i think Kaspersky just don't care about exception and then it read this key error ocurred. Error also ocurred then backup is going on but then it's goes match softer and don't brake exchange transport, just complaints about key is locked,

[2015-11-12 09:06] Pro commented on #109
Can you upgrade to v2.1.8?

[2015-11-12 09:16] stevemayster commented on #109
Pro it's production so i can do it only on weekend.
I notify you then.

[2015-11-12 12:47] stevemayster commented on #109
@Pro To upgrade without Configuration.DkimSigner.exe i need to run uninstall script and then install script,right? Or i can just replace some lib?

[2015-11-12 13:01] AlxVD commented on #109
There is no Kaspersky AV on my server.
I'm still at 2.1.7... will try to upgrade.

[2015-11-12 13:52] Pro commented on #109
@stevemayster for manual update you can just replace the .dll with the one from here:
https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin
The file is locked by the MSExchangeTransport service, so you need to stop it for this short time to overwrite it.

Then you should also update the .exe from here (download all the files):
https://github.com/Pro/dkim-exchange/tree/master

[2015-11-12 14:09] stevemayster commented on #109
Pro,thanks!

[2015-11-15 19:19] lukehamburg opened #110 "Minor typo!"
Thank you for this amazing work. I just updated to 2.1.8 and noticed this small typo in the release notes:

_...Fix: Performance improvement by creating DKIM signer **ony** once..._ (ony → only)

[2015-11-16 07:08] stevemayster commented on #109
Hello @Pro!
I update to 2.1.8 in saturday.
It's quite early to say but i think issue resolved, i don't see any error in App.log.
Thank you and @gogglespisano for great work!

[2015-11-16 11:38] semack commented on #107
I have the same issue.

[2015-11-18 04:17] luckman212 opened #112 "Event 1057, MSExchange Extensibility - Agent 'Exchange DkimSigner' went async"
Since installing dkim-exchange on our Ex2013 server, I am getting many, many of these errors in the Event Log:

**Event 1057, MSExchange Extensibility**
_Agent 'Exchange DkimSigner' went async but did not call Resume on the new thread, while handling event 'OnCategorizedMessage'_

I found a related article on MSDN:
[Agent went async but did not call Resume (Event Id 1057)](http://blogs.msdn.com/b/

[2015-11-18 06:47] #109 closed

[2015-11-18 11:17] VictorSvetogor opened #113 "Some messages aren't signed correctly"
Hi,

I 've found out that some messages aren't signed correctly. I use 2.1.8 version with Exchange 2010. Sometimes  i see on gmail and other mail providers that the mail from my domain has incorrect DKIM.
see here:
Authentication-Results: mx.google.com;
       spf=pass (google.com: domain of victor@beloil.by designates 82.209.214.26 as permitted sender) smtp.mailfrom=victor@beloil.by;
       dkim=

[2015-11-18 18:43] stevemayster commented on #113
Hello Viktor.
Did you install dkim-exchange on edge server or you have a relay server wich faced to internet?

[2015-11-18 19:10] AlxVD commented on #104
No. Still have exception on service stop.

[2015-11-19 05:26] VictorSvetogor commented on #113
Hi, stevemayster

it's installed on edge server.

[2015-11-19 06:38] stevemayster commented on #113
@VictorSvetogor so message going from edge straight to internet?
I'm asking because i have same issue but i thought it's because i have anti-spam system wich relay mail.

[2015-11-19 08:00] VictorSvetogor commented on #113
stevemayster,

yes, messages are going to Internet straight from the edge server.
i have installed Forefront Protection for Exchange on the edge server (it's doing antivirus protection also), but the DKIM signer is installed with lower priority (15). I guess it works with messages AFTER all other exchange transport agents.

[PS] C:\Windows\system32>Get-TransportAgent

Identity              |

[2015-11-19 09:47] stevemayster commented on #113
Interesting. I would try to disable FSE on short time and try to send a message.
But, it's your deсision.

[2015-11-19 22:39] AlexLaroche commented on #110
Thanks.

[2015-11-19 22:39] #110 closed

[2015-11-19 22:43] AlexLaroche commented on #112
Which version of the agent is used ?

[2015-11-20 12:25] VictorSvetogor commented on #113
Hi stevemayster ,

I found that the "Application Filtering Agent" prevents the correct DKIM signing a message. Once i disabled it - all is ok. But this is not the right solution....

[2015-11-21 15:08] #107 closed

[2015-11-21 15:11] Pro commented on #112
We fixed this already in the current version (see #97).
If you are using the current version (2.1.8) and the problem stil persists, please reopen this thread.

[2015-11-21 15:13] Pro commented on #113
@VictorSvetogor does this happen to any e-mail with an attachment or is it dependent on the file type or e.g. file size?

[2015-11-22 13:24] VictorSvetogor commented on #113
@Pro

I found that this happens if I send a message with an attachment that has non- latin  name of the file.

[2015-11-22 14:04] Pro commented on #113
I'll try to reproduce this problem on my test server so I can find the part of the code which is causing the problem. This will take some days until I have time. If someone else has time to narrow the problem down I'm happy for any help :+1:

[2015-11-22 18:23] stevemayster commented on #113
@Pro I have same problem too,but my file doesn't have non-latin name of the file.
I think it's happen because my anti-spam filter system wich act as relay server broke signature,but i don't sure because it's happen not with all messages with attachment. How can i help you?

[2015-11-25 03:53] MikeLabatt commented on #113
I have a similar "body hash did not verify" issue (tested with Gmail inbox) when sending messages with subject only, no message body. Resending the same message with body, the signature works fine. This is on Exchange 2007, installed on the Edge, going straight to the internet:

Identity                                           Enabled         Priority
--------

[2015-11-25 22:31] AlexLaroche commented on #113
What canonicalization to do you use?
What are the value of field in your message?
content-Type and content-transfer-encoding

[2015-11-26 01:17] MikeLabatt commented on #113
Canonicalization of header/body: relaxed/relaxed
Key size: 1024
Hash: SHA-256
Content-Type: text/plain; charset="us-ascii"
Content-Transfer-Encoding: quoted-printable
If the body is empty, Gmail headers indicate "body hash did not verify".
If the body contains text, GMail indicates dkim=pass. Content-Type and Content-Transfer-Encoding are the same.

[2015-11-26 19:53] Pro commented on #113
@MikeLabatt the small bug with the radio button is now fixed, see: https://github.com/Pro/dkim-exchange/commit/6cd52a755d3f2190f7ef44f16679448841852dd3 (thanks @AlexLaroche)

Regarding the other problem of invalid signature: I'll try to find some time in the weekend to debug the problem.

For that it would be helpful if you can provide me some additional data:

- Wrong signature if (specific?) fil

[2015-11-26 20:00] Pro commented on #106
@hooray4me does the workaround with check/uncheck "Include prerelease versions" work for you too?
Can you also test to download the file within PowerShell to see if that works:
https://github.com/Pro/dkim-exchange/archive/v2.1.8.zip
(Howto: http://www.powershellatoms.com/basic/download-file-website-powershell/)

You are using the most recent version (2.1.8)?

@winterheart, @hooray4me which windows

[2015-11-27 06:05] VictorSvetogor commented on #113
@Pro ,

i've sent the email to you.

[2015-11-27 06:11] winterheart commented on #106
@Pro mine is two identical Windows 2008 R2 SP1 with latest hotfixes and Exchange 2010 SP2 with latest hotfixes (14.3.123.4).
I have direct connection to Internet without restrictive rules from firewall (after pressing "Upgrade" program downloaded needed packages successfully).

[2015-11-27 13:00] MikeLabatt commented on #113
@Pro: sent you two emails around 20:03 UTC (one with body, one without body, as per issue)

[2015-11-28 19:23] MikeLabatt commented on #113
@Pro: Just sent you another mail, concerning a similar body hash failure, but this time with emails that have an attachment (and a message body).

[2015-11-29 10:31] Pro commented on #113
@MikeLabatt, @VictorSvetogor I looked at your emails and also tried to reproduce the error, but with no success. Can you please send first a mail where the DKIM signature should be OK to the E-Mail address indicated below. And then each mail which failed signing separately to this e-mail address:
check-auth-git=s.profanter.me@verifier.port25.com

Using this E-mail address I get the full content of

[2015-12-02 14:51] MikeLabatt commented on #113
@Pro: done (all three emails resent in the same order).

[2015-12-04 05:30] Shmakovm opened #114 "dkim-exchange 2.1.8 install script"
line 57 and 59 have an error, excess ")"

[2015-12-04 05:34] Shmakovm commented on #106
You could add the option in Configuration.DkimSigner.exe to work through a proxy server (w/wo authorization). Thanks !

[2015-12-06 09:12] Pro commented on #106
The best solution for proxy settings would be to use the system default proxy from windows. See: http://stackoverflow.com/a/1939019/869402
Needs to be investigated

[2015-12-06 09:21] Pro commented on #114
It looks OK to me. also tested it on my server.
If you still think there's an error, please reopen this issue and create a pull request.

[2015-12-06 09:21] #114 closed

[2015-12-11 07:23] avoidik commented on #106
There is pull request to second problem with red text.

[2015-12-11 07:24] avoidik commented on #86
Any info on this problem?

[2015-12-11 07:53] avoidik commented on #113
Same problem with Exchange 2010 UR11 no matter of canonicalization algorithms. Body contains cyrillic symbols. Is this encoding problem?

[2015-12-11 08:24] avoidik commented on #113
Test data.
[code]

Reply from port25.
[code]

[2015-12-11 08:26] avoidik commented on #113
Test email
[code]

Result from port25
[code]

[2015-12-11 08:35] avoidik commented on #113
And the answer is this:
http://stbuehler.de/blog/article/2011/05/19/dkim_fails_at_content-transfer-encoding.html

[code]

[2015-12-11 08:58] Pro commented on #106
@avoidik I already fixed this a few weeks ago: https://github.com/Pro/dkim-exchange/commit/a111e5716a41237542668c3a9909821135b08bee
(Is not yet in the release)

[2015-12-11 08:59] avoidik opened #116 "External mails with spoofed email also signed with DKIM"
I don't know if this problem related to dkim-exchange, but emails from external server with spoofed sender got also signed.

Goto https://www.wormly.com/test_smtp_server and send sample email with fake sender with own domain name (from fake@mydomain.com to my_valid@mydomain.com). Check signature, it's signed.

Nice way to break in with spam or infected attachments.

[2015-12-11 09:00] Pro commented on #86
@avoidik are you using Content-Transfer-Encoding: 8bit?

[2015-12-11 09:07] avoidik commented on #86
Thanks. Found this by myself. Got it.

[2015-12-11 09:07] Pro commented on #113
@avoidik Thanks for your further analysis. It seems that the problem is related to #86
I'll try to debug the problem next sunday and hopefully come up with a solution

[2015-12-11 10:15] Pro commented on #116
Jep, that may be a problem.
A solution to this would be to check where the mail comes from, i.e. have a list with trusted sender IPs.
For that it is necessary to add an additional field in the Configurator, since mails may also come from other internal or even external trusted servers and should be signed.

[2015-12-11 10:22] avoidik commented on #116
I think it's question about directions, DKIM agent must sign only outbound emails, not inbound.

[2015-12-11 10:25] Pro commented on #116
The question is if it is possible to get this information within the source code. I need to investigate that further...

[2015-12-11 11:20] avoidik commented on #116
In RoutingAgent we can use **mailItem.Message.RootPart.Headers.FindFirst("Received");** to resolve IP and compare with permitted signers. In our case it will be our external IP.

[2015-12-14 12:21] Pro commented on #113
I've found MimeKit (https://github.com/jstedfast/MimeKit) which also provides a better implementation for DKIM signing. We will integrate it into this agent and release it as version 3.0.0 (see https://github.com/Pro/dkim-exchange/tree/mime_kit). This will probably reduce the number of problems regarding wrongly signed mails. It will take some days, hopefully it is ready in January.

[2015-12-14 12:22] Pro commented on #86
I've found MimeKit (https://github.com/jstedfast/MimeKit) which also provides a better implementation for DKIM signing. We will integrate it into this agent and release it as version 3.0.0 (see https://github.com/Pro/dkim-exchange/tree/mime_kit). This will probably reduce the number of problems regarding wrongly signed mails. It will take some days, hopefully it is ready in January.
We need to tes

[2015-12-14 12:28] Pro commented on #86
It looks like the MimeKit handles 8bit correctly: https://github.com/jstedfast/MimeKit/blob/master/MimeKit/MimeMessage.cs#L1434

[2015-12-14 12:30] Pro commented on #116
@AlexLaroche can you look at this and see if there's a solution? (add it to the new mime_kit branch)

[2015-12-14 12:34] Pro commented on #104
@AlxVD does the exception occur every time you stop the service? Or just randomly?

Do you have access to a Visual Studio installation and could try to build the .dll in Debug mode, then start exchange, attach the Visula Studio debugger and get the exact line causing the problem?

[2015-12-14 13:20] AlexLaroche commented on #116
@avoidik : Can you draw your Exchange architecture (Edge and Hub server, spam filtring, etc.) and what your email traffic is configure to do (who reveice from external, from internal, relay!?, who send from internal, etc.)? I don't need private information, just the architecture to understand how your environnement is setup.

[2015-12-14 13:34] avoidik commented on #116
My environment is Exchange2010 SP3 CU11. Check out idea in pull request.

[2015-12-14 17:00] gogglespisano commented on #116
Should the better fix be to only sign outgoing emails and ignore incoming emails regardless of sender?

[2015-12-14 17:23] avoidik commented on #116
AFAIK it's impossible in RoutingAgent, need to change superclass to
something else and rewrite whole agent.

[2015-12-14 22:42] AlexLaroche commented on #116
The real problem isn't the incoming or outgoing emails.

A email server just forward email if it isn't the final destination.

The problem is that permit sender isn't correctly manage for your domain.

Restrict who can send email from your domain name in your organization to your Exchange server/email server (use AUTH).

It's also a good idea to activate SPF.

Check the follow example:

  ABC

[2015-12-14 22:49] AlexLaroche commented on #116
Get-ReceiveConnector “My Internet ReceiveConnector” | Get-ADPermission -user “NT AUTHORITY\Anonymous Logon” | where {$_.ExtendedRights -like “ms-exch-smtp-accept-authoritative-domain-sender”} | Remove-ADPermission

[2015-12-14 23:11] Pro commented on #116
@AlexLaroche I think what avoidik meant is that the DkimSigner Agent is checking every mail, this means outgoing and incoming (since both are sent through SMTP). (Correct me if I'm wrong)
If someone sends a mail to my exchange server with a spoofed (=wrong) From address which matches the DKIM Signer configuration, it gets signed, but it shouldn't.

[2015-12-14 23:46] AlexLaroche commented on #116
@Pro : The DKIM agent should sign ALL emails that the routing service receive. The routing service use Outgoing connectors. His job is to take the message and send it to the destination. Nothing more!

Exchange is base on three main process (SmtpReceive, Routing, Delivery).

- SmtpReceive will receive all incoming email. (Incoming connectors)
- Routing will forward the email to destination or to t

[2015-12-17 15:39] mrrogers75 commented on #97
This issue is still happening in 2.1.8, but not all the time.

[2015-12-17 15:39] mrrogers75 commented on #112
I am having this issue in 2.1.8

[2015-12-17 19:38] Pro commented on #112
@mrrogers75 what is your windows version? Exchange version (including SP and Updates)?

[2015-12-17 20:25] mrrogers75 commented on #112
Windows Server 2012 R2 with Exchange 2013 SP1 CU 10
On Dec 17, 2015 2:38 PM, "Stefan Profanter" <notifications@github.com>
wrote:

[2015-12-22 08:30] mr-flibble commented on #97
Same problem, I did update to 2.1.8 yesterday and event log is today filled with:
**Agent 'Exchange DkimSigner' went async but did not call Resume on the new thread, while handling event 'OnCategorizedMessage'**

Until yesterday I have 2.1.4 version without this error.

I have W 2012 R2, Exchange 2013 CU7

You can see how often is it:

Error	22. 12. 2015 8:58:58	MSExchange Extensibility	1057	MExRu

[2015-12-22 17:13] gogglespisano commented on #97
On the surface it looks like GetAgentAsyncContext(), Resume() and Complete() should only be used if the event is handled asynchronously, which it isn't.  Maybe the answer is just to remove all 3 calls?

[2016-01-01 16:31] Pro commented on #113
v3.0.0 beta is now released. This should fix the 8bit issue:
https://github.com/Pro/dkim-exchange/releases/tag/v3.0.0-beta

[2016-01-01 16:32] Pro commented on #86
v3.0.0 beta is now released. This should fix the 8bit issue:
https://github.com/Pro/dkim-exchange/releases/tag/v3.0.0-beta

[2016-01-01 16:32] #86 closed

[2016-01-01 16:33] Pro commented on #104
@AlxVD any updates?
v3.0.0 beta is now released. Maybe you can try this
https://github.com/Pro/dkim-exchange/releases/tag/v3.0.0-beta

[2016-01-01 16:35] #106 closed

[2016-01-01 18:02] gogglespisano commented on #112
Shouldn't GetAgentAsyncContext() be called from the original thread, then Resume() called in the worker thread?

Wouldn't it be better to queue the processing on a ThreadPool thread rather than creating a new thread for every email message?

[2016-01-02 10:31] Pro commented on #112
@gogglespisano thanks for the info. Changed in https://github.com/Pro/dkim-exchange/commit/0e4f1c6b794f6f6462af971c840550801db751ae

[2016-01-02 16:33] matbech opened #118 "Crash with 3.0-beta and Exchange 2016"
The DKIM signer fails to install on Exchange 2016. The following error is logged:

Watson report about to be sent for process id: 15004, with parameters: E12IIS, c-RTL-AMD64, 15.01.0225.042, edgetransport, MimeKit, M.C.DkimSigner..ctor, S.Reflection.TargetInvocationException, 1bae, 01.03.0000.000.
ErrorReportingEnabled: False

followed by
The worker process crashes continuously on startup: C:\Prog

[2016-01-02 17:26] semack commented on #118
I confirm.

[2016-01-02 17:31] matbech opened #119 "Issues with Priority in Exchange Transport Agents dialog"
In the Exchange Transport Agents dialog there are two issues which are most likely related:
- The priority for agents with a priority > 9 (e.g. 10) is displayed as 1
- Moving an agent down (Move Down) which has a priority >= 9 results in the priority of the agent to be set to 1 instead of 10.

![priority](https://cloud.githubusercontent.com/assets/6642109/12075391/15810272-b17f-11e5-87ec-e5921795a

[2016-01-02 17:33] Pro commented on #118
Thanks for the Info. I'm currently installing Ex2016 on a Windows 2016 VM and will try to reproduce the problem.

[2016-01-02 17:34] Pro commented on #119
Will check. Thanks!

[2016-01-03 11:58] #118 closed

[2016-01-03 12:00] Pro commented on #118
The problem is that your private key isn't valid. You need to create a new one, if you upgrade from version 2.* to 3.*.
Please read: https://github.com/Pro/dkim-exchange#updating-from-version-2-to-3

I improved the error handling for invalid keys, will upload a new beta release later today

[2016-01-03 12:07] matbech commented on #118
I believe to use a correct private key. It has been created with openssl and the public key (.pub) is correctly read (using the Check function) by the DKIM configurator. Maybe the configurator should also verify the private key?

[2016-01-03 12:15] matbech opened #120 "Support private key files from OpenSSL"
Currently it seems that DKIM agent fails to read private key files (.pem) which contain line breaks at position 65. When creating private keys with openssl, it creates .pem with line breaks at position 65:
openssl genrsa -out private.pem
I believe the DKIM signer should support .pem key files with line breaks.

[2016-01-03 12:17] matbech opened #121 "Verify private key in DKIM configurator"
The configuration should verify the private key file (.pem) assigned to each domain. This helps identifying incorrect private key as early as possible and prevents possible crashes in the DKIM transport agents later.

[2016-01-03 12:18] Pro commented on #121
The configurator already checks for valid private keys (see https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/MainWindow.cs#L961). The check is performed when you use the `Select key file` button.
This is exactly the same parser/code which the signer uses.
Can you make sure that you are using the 3.0.0-beta version of the configurator. Does it show any error message?

[2016-01-03 12:23] matbech commented on #121
Yes I'm using the configurator from 3.0.0-beta and no error is displayed after I selected the private key with the select button.

[2016-01-03 12:31] Pro commented on #121
Ok, can you try out the newly compiled dll from here:
https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin

Download all the files in the corresponding directory for your Exchange server. Then copy the files to `C:\Program Files\Exchange DKIM\` and replace if asked. (You may need to stop the `Microsoft Exchange Transport` service to be able to overwrite them).

Then, when y

[2016-01-03 12:44] #119 closed

[2016-01-03 12:44] matbech commented on #121
"Could not initialize MimeKit DkimSigner for domain  abcd.com: Private key not found."

The private key file has been selected in the configurator and is located at:
C:\Program Files\Exchange DkimSigner\keys\abcd.com.pem

[2016-01-03 13:32] #121 closed

[2016-01-03 13:33] Pro commented on #121
The check expected the wrong PEM key format. It should now be fixed.
Please try again and let me know if there are any errors:
https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin

[2016-01-03 13:34] Pro commented on #120
I tested with a key from `openssl genrsa -out private.pem` and it works for me now.

[2016-01-03 13:45] matbech commented on #120
Thank you. I get the following error now with my key:

Couldn't load private key for domain abcd.com from C:\Program Files\Exchange DkimSigner\keys\abcd.com.pem: Unable to cast object of type 'Org.BouncyCastle.Crypto.Parameters.RsaPrivateCrtKeyParameters' to type 'Org.BouncyCastle.Crypto.AsymmetricCipherKeyPair'.

[2016-01-03 13:51] Pro commented on #120
Unfortunately, the MimeKit DKIM signer expects the key to be of type `AsymmetricCipherKeyPair` thus I had it to change from `AsymmetricKeyParameters`.

If the key is of type `AsymmetricKeyParameters` it means that it is in the PKCS#8 format (and does only contain the private key, not the public key).

Which command did you use to generate your key? Because `openssl genrsa -out private.pem` generat

[2016-01-03 14:02] matbech commented on #120
I have extracted the private key from PKCS12 .pfx using this command:
openssl pkcs12 -in abcd.com.pfx -nocerts -out abcd.com.pem -nodes

[2016-01-03 14:10] Pro commented on #120
What happens, if you take the PKCS12 `abcd.com.pfx` instead of the extracted key? Just to see what happens...

[2016-01-03 14:19] matbech commented on #120
I removed the password from the .pfx and verified it was correct. Then tried to select it in the configurator:
The selected key is not a valid private key

[2016-01-03 14:36] matbech commented on #120
Maybe you build a the AsymmetricCipherKeyPair from the RSAPrivateCrtKeyParameters object:

[code]

[2016-01-03 16:48] Pro commented on #120
And another try. The configurator and signer now supports default RSA private keys and the ones exported from PKCS12 files.

@matbech please try the newly compiled .dll (and configurator) in https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin

[2016-01-03 17:09] matbech commented on #120
The configurator is able to load the private key now. However I get this message from the agent:
"Could not initialize MimeKit DkimSigner for domain  abcd.com: Private key not found."

Please also note the extra whitespace in front of the domain name in the error message.

[2016-01-03 17:12] matbech opened #123 "Could not extract public key from DNS record"
I get this error message: "Could not extract public key from DNS record" when I try to verify the DNS entry in the configurator.
Suggested DNS record:
v=DKIM1; k=rsa; p=MIGetc

Existing DNS record:
v=DKIM1;p=MIGetc

Maybe the verification code gets confused because of the missing k param. It is optional and defaults to rsa.

[2016-01-03 17:32] matbech commented on #120
In an earlier comment you mentioned that the DKIM signer requires a AsymmetricCipherKeyPair. However when I look at the documentation it says it expects a AsymmetricKeyParameter:
http://www.mimekit.net/docs/html/M_MimeKit_Cryptography_DkimSigner__ctor.htm

[2016-01-03 18:10] #104 closed

[2016-01-03 18:10] Pro commented on #104
Fix will be included in version 3.0.0

[2016-01-03 18:12] Pro commented on #106
The first problem where the "upgrade" button is disabled is now also fixed in https://github.com/Pro/dkim-exchange/commit/f56cfdc498fbaf3798ca9db5a401ab8a1b80eaf3

(esp. https://github.com/Pro/dkim-exchange/commit/f56cfdc498fbaf3798ca9db5a401ab8a1b80eaf3#diff-80fbe899548913d9af44190d7c253f97R256)

[2016-01-03 18:13] Pro commented on #106
Will be released as version 3.0.0

[2016-01-03 18:17] #123 closed

[2016-01-03 18:23] semack opened #126 "Control's anchors"
Please review and fix control's anchors in DKIM configurator. They work wrong on windows resize.

[2016-01-03 18:24] matbech commented on #120
MimeKit just merged a related patch I have submitted:
https://github.com/jstedfast/MimeKit/pull/216

It should simplify the required changes now.

[2016-01-03 18:25] semack opened #127 "Controls' anchors"
Please review and fix controls' anchors in DKIM configurator. They work wrong on windows resize.

[2016-01-03 18:26] #126 closed

[2016-01-03 18:28] #120 closed

[2016-01-03 18:29] Pro commented on #120
@matbech thanks again! Totally missed that constructor. Recompiled sources are in the repo. Lets see if this fixes it

[2016-01-03 18:33] Pro commented on #127
Do you mean the one from the `Check` button for DNS record? I fixed this already today (not yet in the release): https://github.com/Pro/dkim-exchange/commit/4b78fae343f5df569350fa4618a9da10145c6d14#diff-de0f8b728e5b3bc9677f2bac2f495e98L727

[2016-01-03 18:34] Pro commented on #127
Couldn't find any other wrong anchor setting.

[2016-01-03 18:34] matbech commented on #120
Thank you. It is working now :-)

[2016-01-03 18:48] #127 closed

[2016-01-03 21:24] Pro commented on #116
@AlexLaroche  I think what @avoidik means here is the following scenario:

* Your Exchange server has the following accepted domain: `example.com`
* Now use telnet or some other tool to submit an email to your server:
[code]

This is a standard mail delivery from external mail servers to your exchange server.

Now here comes the interesting part:
This test email is also routed through the DKIM sig

[2016-01-03 21:31] Pro commented on #116
See also: https://msdn.microsoft.com/en-us/library/office/dd877035%28v=exchg.150%29.aspx

[2016-01-03 22:05] Pro commented on #116
I think the correct field to check is the `MailItem.Recipients[0].RecipientCategory` (https://msdn.microsoft.com/en-us/library/microsoft.exchange.data.transport.mailitem.recipients.aspx)
For the above telnet SMTP delivery this has the value `Incoming`.
For an outgoing mail it has `InDifferentOrganization`
See https://msdn.microsoft.com/en-us/library/microsoft.exchange.data.transport.recipientcateg

[2016-01-08 23:06] AlexLaroche commented on #116
@Pro: Just remove the right (access) to receive email from anonymous to your external connector for your authoritative domains (domains, you have configure in exchange).

It's the job of the agent to do that. Give a try to my solution and you will see that your example is managed.

[code]

[2016-01-12 08:35] pavelkos opened #132 "Support for Exchange 2013 CU 11"
Hello! Please add support for latest CU.
https://dl.dropboxusercontent.com/u/11127662/Public.V15.CU11.zip

[2016-01-12 08:42] Pro commented on #132
Thanks for the files!
Will download and add support for this version in the coming weekend.
This will then be included in version 3.0.0 (estimated release 17. Jan)

[2016-01-16 13:45] stevemayster opened #134 "Update from 2.1.8 to 3.0"
Hello.
Sorry for question but i don't fully understand how to update from 2.1.8 to 3.0 manually.
If i don't have dkim GUI installed(Exchange 2010SP3) and create keys by opendkim-genkey do i need to regenerate them?
Or i must uninstall 2.1.8 and install 3.0?

[2016-01-16 14:33] AlexLaroche commented on #134
Yes, you should uninstall 2.1.8 first and install 3.0 after.

opendkim-genkey normally generate key in format PEM.
You shouldn't have to make any changes to your current key format.
It's the XML format that isn't more supported.

[2016-01-16 15:03] stevemayster commented on #134
Hello,Alex
Thanks for answer!

[2016-01-16 15:03] #134 closed

[2016-01-17 11:36] semack opened #135 "Possible mistakes in install.ps1 script?"
I found [this document](https://technet.microsoft.com/en-us/library/hh135098(v=exchg.150).aspx) and compared dkim install script with it.

For example, notes from install script:
Exchange 2013 SP1 CU4 (15.0.847.32)
Exchange 2013 SP1 CU5 (15.0.913.22)

Information from Microsoft web site:
Exchange Server 2013 CU4 May 27, 2014 15.00.0913.022
Exchange Server 2013 CU5 August 26, 2014 15.00.0995.029

A

[2016-01-17 11:59] Pro commented on #135
Yes you are right. It looks like we are using a different naming, i.e.,
(left the official, right side our version)
Exchange Server 2013 SP1 -> Exchange 2013 SP1 CU4
Exchange 2013 CU4 -> Exchange 2013 SP1 CU5
Exchange 2013 CU5 -> Exchange 2013 SP1 CU6

Somehow, the official document skips CU6?

[2016-01-17 11:59] semack commented on #135
I found this one
http://social.technet.microsoft.com/wiki/contents/articles/15776.exchange-server-2013-and-2016-build-numbers-with-cumulative-updates.aspx

[2016-01-17 12:00] Pro commented on #135
This looks more like our scheme. So it should be fine?

[2016-01-17 12:01] semack commented on #135
I don't know :)

[2016-01-17 12:02] Pro commented on #135
Jep, looks good to me

[2016-01-17 12:02] #135 closed

[2016-01-17 13:50] Pro commented on #132
In version 3.0.1

[2016-01-17 13:50] #132 closed

[2016-01-19 17:19] lukehamburg opened #136 "v3.0.1 - Event 1057, MSExchange Extensibility"
We installed 3.0.1 last night on our Exchange 2013 (CU11) server. All was very smooth - thank you so much for this amazing piece of software!

Everything seems to be working well, but I'm seeing lots of Event 1057, MSExchange Extensibility in our Event Logs with the following description:

*Agent 'Exchange DkimSigner' went async but did not call Resume on the new thread, while handling event 'OnCa

[2016-01-19 17:26] Pro commented on #136
I really thought that this was already fixed in #112
Looks like the problem is still there.

You can ignore this warning since it doesn't reduce functionality of the signer, but we should try to find a fix for it.
Will close this issue and reopen the other one.

[2016-01-19 17:26] #136 closed

[2016-01-19 17:33] gogglespisano commented on #112
I wonder if the agent is using the thread pool to process the message, and then the "new" thread is the same thread pool thread being used for the Resume call.

Or maybe the event message is trying to tell us something else and it's just a poor message.

[2016-01-19 17:35] Pro commented on #112
It looks like the problem still exists, as by @lukehamburg reported in bug #136.

According to the official Microsoft Sample code, the current way we handle AsyncContext should be fine...
http://www.getcodesamples.com/src/D062E1E9/2552BA7

The only difference I see is:
[code]
compared to the sample code
[code]
But this should be the same (see http://stackoverflow.com/a/15695940/869402)

[2016-01-19 17:35] gogglespisano commented on #136
@lukehamburg What is the ratio of the event messages to emails processed?  is it 1:1 or something much different?

[2016-01-19 17:38] Pro commented on #112
@gogglespisano this may be a valid point. So one way to test it would be to create our own Thread instead of using the ThreadPool.
As it was in https://github.com/Pro/dkim-exchange/commit/7eee8db42588d4b4f7d1bbadcc84fa082ee1f907

[2016-01-19 17:42] gogglespisano commented on #112
Is it possible this condition is not getting set correctly?

#if !EX_2007_SP3

[2016-01-19 17:43] Pro commented on #136
Please use issue #112 to discuss the bug so we have it all together. Thanks :)

[2016-01-19 17:45] Pro commented on #112
The only place where this define is set is at https://github.com/Pro/dkim-exchange/blob/master/Src/Exchange.DkimSigner/Exchange.DkimSigner.csproj#L36
So it should be correct, but I'll try to do some debugging to see if it is set correctly.

[2016-01-19 18:21] Pro commented on #112
`#if !EX_2007_SP3` is set correctly. I just checked it.
So the .Resume call is definitely compiled.

[2016-01-19 18:28] lukehamburg commented on #112
@gogglespisano asked in #136 before it was closed: *"What is the ratio of the event messages to emails processed? is it 1:1 or something much different?"*.

I am not sure how to scientifically answer this, but we've sent a few hundred emails since the DkimSigner was installed around 2am EST this morning the event 1057 has only been logged 9 times.

[2016-01-19 18:41] Pro commented on #112
Thanks for the info. So this means that it is not logged for every mail.
Are there any error messages or other warnings in the DKIM signer log around that time when the 1057 Event is logged?

[2016-01-19 18:42] Pro commented on #112
@lukehamburg  Can you enable Debug Logging and wait until the next 1057 event is logged and check the debug messages in the Event Log?

[2016-01-19 19:14] gogglespisano commented on #112
I wonder if the relatively small percentage of times it's happening could be reuse of the same thread pool thread.

[2016-01-19 21:25] Pro commented on #112
That could be the case since ThreadPool is shared for the whole process. The signer .dll is loaded into the EdgeTransport.exe process and thus it may be the case that exchange uses the same ThreadPool internally.

To investigate that further, a Debug output of `Thread.CurrentThread.ManagedThreadId` may help.
Or we could switch to use Task instead (https://msdn.microsoft.com/en-us/library/system.th

[2016-01-19 22:49] gogglespisano commented on #112
I would try to find out if the thread reuse is the actual problem before trying something like the Task.

[2016-01-20 03:14] AlexLaroche commented on #112
@Pro: Have you try something like that?

[code]

[2016-01-20 07:59] Pro commented on #112
@AlexLaroche the only change in your code is that you moved the agentAsyncContext outside of the try catch. Am I right?
I don't think that this changes anything.

What I'll try to do is to see if ` Thread.CurrentThread.ManagedThreadId` can be used to identify the thread within a ThreadPool and add some debug output to check if Exchange uses the same thread as the Signer.

[2016-01-20 12:17] AlexLaroche commented on #112
@Pro : It is a best practice to call AsyncAgentContext.Resume() in your worker thread **before doing any work to complete the event**.  This ensures that the thread is properly initialized for asynchronous event handling.

If you check à MSIL (Microsoft Intermediate Language) level you will see that the code generate is different. Is the try catch block is interpreted as instruction before AsyncAg

[2016-01-27 13:07] mateuszr89 opened #137 "Invalid from address '<>' and invalid SmtpAddress ''. Not signing email."
Hello,

I am using version 3.0.1. In EventLog Viewer I have many logs like:

"Invalid from address '<>' and invalid SmtpAddress ''. Not signing email."

Is it normal ?

[2016-01-28 20:13] Adam1621 commented on #137
I get the same log messages occasionally.  We recently changed email domains. We have added our new domain to dkimsigner but not the old one.  There are still some automated processes sending emails with our old domain so I believe that is why I'm getting these messages. This may not help but thought I'd mention =)

[2016-01-28 20:43] Adam1621 opened #138 "Event log viewer not showing "signing mail with header DKIM - signature..."anymore"
Since upgrading to 3.0.1 my event log viewer doesn't show "signing mail with header" events anymore.  Any suggestions would be greatly appreciated!

[2016-01-29 18:36] Adam1621 commented on #138
nevermind! I see it in the debug log. sorry

[2016-01-29 18:36] #138 closed

[2016-01-30 16:26] Pro commented on #137
The `invalid from address` message is an information output and not an error.
This means that the agent got a mail without a from address, which may be system emails.
You can check your Exchange Messages Log to see which messages those are exactly.

That should be normal behaviour, as log as all you other emails are signed correctly.

[2016-01-30 16:26] #137 closed

[2016-01-30 17:40] Adam1621 commented on #137
Thank you

Sent from my U.S. Cellular® Android-powered device

-----Original message-----
From: Stefan Profanter <notifications@github.com>
To: Pro/dkim-exchange <dkim-exchange@noreply.github.com>
Cc: Adam Sandberg <ASandberg@bridge.bank>
Sent: Sat, Jan 30, 2016 16:26:44 GMT+00:00
Subject: Re: [dkim-exchange] Invalid from address '<>' and invalid SmtpAddress ''. Not signing email. (#137)

The inva

[2016-02-02 15:11] AliaWeb opened #139 "Value "SytemDrive" is fixed in the code - not read from the system enviroment variable"
The Installation works for system drive C: only. If the OS on another disk (eg., D:), then not working properly.

[2016-02-02 15:37] Pro commented on #139
Yes, that's correct.
Even though it is not recommended to install windows or applications on another drive than C:, we should support different install paths.
To achieve this, we need a way to let the user define the path stored in https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/Constants.cs#L7

[2016-02-02 16:06] #139 closed

[2016-02-19 20:55] mitacs opened #141 "Exchange 2013 Toolbox snap fails to start after installing yestarday latest 3.0.1 DKIM-Exchange."
Hello,

Exchange 2013 SP1 on Windows 2012 R2. Before installing DKIM-Exchange 3.0.1 (manual installation) I applied Exchange2013-KB2938053-FixIt using PowerShell; https://github.com/Pro/dkim-exchange/issues/24. DKIM seems to be working well (other than Windows Event 1057, MSExchange Extensibility - Agent 'Exchange DkimSigner' went async).
However, whenever I attempt to start Exchange Toolbox (mmc

[2016-02-19 21:04] Pro commented on #141
Thanks for the bug report!
To me this doesn't look like it is related to the DKIM signer. The only way to find that out is to uninstall it again completely and check if Exchange Toolbox works again.

Did you already read through these:
* https://social.technet.microsoft.com/Forums/exchange/en-US/44c7c769-b495-4bd5-8160-f1803c74dbc1/error-mmc-has-detected-an-error-in-a-snapin-and-will-unload-it?for

[2016-02-22 08:28] VictorSvetogor commented on #113
i've installed 3.0.1, but it didn't help

[2016-02-22 08:57] Pro commented on #113
Ok, then maybe this is fixed in the new Mime Kit version 1.2.21 (https://github.com/jstedfast/MimeKit/blob/master/ReleaseNotes.md)
It mentiones 'Fixed MimeMessage.DkimSign() to not enforce 7bit encoding of the body. (issue #224)'

This version will be included in the next dkim signer release.

[2016-02-25 06:34] verykindwolf opened #142 "no mail coming after installing Configuration.DkimSigner"
I have Exchange Server 2010. Just after I installed DkimSigner, I can send mail out, I can send and receive mail inside, but no mail can be received from outside. After sanding to my server I get such answer: host said: 452 4.3.1  Insufficient system resources (in reply to MAIL FROM command)

[2016-02-25 07:36] Pro commented on #142
This is probably not related to DKIM since it is a resources problem (as the error messages says).
Normally this means that you don't have enough RAM (very minimum 4GB) or HDD space.
Please check this in the Task Manager.

Also check the EventLog if there are any related Error Messages.

[2016-02-25 07:55] verykindwolf commented on #142
Yep. It seems you r right. I cleaned HDD, making more of 4% of HDD free space as mails started coming in.One thing is not clear, why DkimSigner installation provoked  'Insufficient system resources' error.

[2016-02-25 07:56] #142 closed

[2016-02-27 14:25] Pro commented on #141
@mitacs any news about this issue?
Please close it if it was resolved and post the solution here. Thanks

[2016-02-27 14:29] Pro commented on #113
Please check the new version:
https://github.com/Pro/dkim-exchange/releases/tag/v3.0.2.
If there's still an issue with 8-bit signing, please open an issue on the MimeKit repo: https://github.com/jstedfast/MimeKit/issues and link it here.

[2016-02-27 14:29] #113 closed

[2016-02-27 14:33] Pro commented on #139
@AliaWeb fixed in version  3.0.2

[2016-02-27 20:41] lukehamburg commented on #112
@Pro I installed 3.0.2 today.  Still getting these in the Event Log.  I was going to try to enable Debug Logging as you said, but not quite sure how to do that.  Do I just set <Loglevel>5</Loglevel> in the settings.xml or something like that?

[2016-02-27 20:50] Pro commented on #112
Yes unfortunately I didn't find any fix for this log entry yet. I need to investigate that further. I think there might be some race condition.

Anyways this doesn't have any impact on the functionality of the DKIM signer.

@lukehamburg you can try to enable Debug (set 4 in settings.xml) and check if the Event Log is fired if two mails are send nearly at the same time. Maybe there is also some oth

[2016-02-29 22:41] mitacs commented on #141
Thanks Stefan.

I will reboot Exchange server around mid-March and give you update on this issue.

Regards,

Marek

From: Stefan Profanter [mailto:notifications@github.com]
Sent: February-27-16 6:25 AM
To: Pro/dkim-exchange
Cc: sysadmin
Subject: Re: [dkim-exchange] Exchange 2013 Toolbox snap fails to start after installing yestarday latest 3.0.1 DKIM-Exchange. (#141)

@mitacs <https://github.com/m

[2016-03-04 12:51] spid3r1987 opened #143 "Could not extract public key from dns record"
Help!!
i have installed the DKIM-Exchange via the online installer.
configured everything, but getting the error of could not extract public key from dns record.

i have noticed that there is the issue fix, but i do not have the files mentioned on my server to edit the file.

how can i resolve this issue?

Regards
michael

[2016-03-04 13:15] Pro commented on #143
Which version did you install?

Can you post the content of the two text fields "suggested DNS record" and "existing DNS record"?

[2016-03-04 13:43] spid3r1987 commented on #143
Version is 3.0.2
suggested has
"v=DKIM1; k=rsa; p=<KEY REMOVED>"
existing has nothing then below says could not extract public key from dns record

[2016-03-04 14:04] Pro commented on #143
Note: You don't need to remove the public key, since it will be publicly visible anyway.
Did you setup you DNS record correctly? Did you press the "check DNS" button?

[2016-03-04 14:12] spid3r1987 commented on #143
ahh right ok lol.
suggested :
"v=DKIM1; k=rsa; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmw0KIrvuofz5rC6moCHB21Y9ucwtVPLKtEn8FNraJ70X3IpvXQgonwJg/MpNobtbmIjFuBJ231/FkgVfGv284c8TSuWnqKmJ0T5YibZIX9qrSnMALwyj9clMkD2jt6gcgeGH+59BkeN44sn1RCNWqe4DDWJukfB2wh1GkzA1HQiaChdHXntizps7P5IIoJdWgn5b0a0608LoNRfgg8r8zjXsQ115mZR9kALPcHuiLTV3iD+TjhttQGn4z3xdB5FnsqIkHbWXvygX71q8JjeGMO0wtKCSkXNUTQb3dVMAF8CzpXbWmhV

[2016-03-04 14:34] Pro commented on #143
Please check you DNS record with a tool like http://www.protodave.com/tools/dkim-key-checker/ or Google for another checking tool

[2016-03-04 15:39] spid3r1987 commented on #143
not showing any dns txt record found.... strange

[2016-03-04 15:42] Pro commented on #143
Make sure you set up the DNS correctly. Then DKIM Signer will find the record.

[2016-03-04 16:59] spid3r1987 commented on #143
Never mind. Found a different tool and it's all sorted now mate. Thanks anyway

Sent from my Samsung device

-------- Original message --------
From: Stefan Profanter <notifications@github.com>
Date: 04/03/2016 14:35 (GMT+00:00)
To: Pro/dkim-exchange <dkim-exchange@noreply.github.com>
Cc: technicalteam <technicalteam@prservicesyorkshire.co.uk>
Subject: Re: [dkim-exchange] Could not extract public

[2016-03-04 17:01] #143 closed

[2016-03-04 17:27] lukehamburg commented on #143
Could be that you are using split DNS and only set the DKIM record on your public facing DNS (eg Network Solutions, GoDaddy etc) and forgot to add it to the internal side? I saw that myself. It is harmless anyway.

[2016-03-04 17:49] spid3r1987 commented on #143
I set the records on my hosted dedicated server which controls various domains. And on my local sbs server to cover both angles incase it was looking at the hosted dedicated server rather than local server.

Sent from my Samsung device

-------- Original message --------
From: lukehamburg <notifications@github.com>
Date: 04/03/2016 17:27 (GMT+00:00)
To: Pro/dkim-exchange <dkim-exchange@noreply.git

[2016-03-11 01:35] mitacs commented on #141
We think that we found (by coincidence, troubleshooting Exchange Management Shell issue) the problem, Stefan.

I followed this manual DKIM installation instructions:

1.	Execute the following command to allow execution of local scripts (will be reset at last step): Set-ExecutionPolicy Unrestricted
2.	Cd into the folder where the zip has been extracted.
3.	Execute the install script .\install.ps1
4

[2016-03-22 04:03] jho1670 opened #144 "Exchange 2013 Edge Transport stops signing DKIM until restarted"
Exchange 2013 Edge Transport 15.0.1156.6
Running 3.0.1 (just upgraded to 3.0.2, will try again...)

I set things up, and send mail, and confirm that a) DNS records are correct, b) outbound mails are correctly signed.

Some time later, mails stop getting signed.

I open the Configuration utility, restart the Exchange Edge Transport service, and outbound mails are again properly signed.

What logs s

[2016-03-22 14:01] hweL opened #145 "Exchange 2016 CU1"
Who can DKIM-Exchange update to support the version of Exchange 2016 CU1?

[2016-03-23 21:12] danieljcosta commented on #145
Hi! I downloaded the source code, added the necessary Exchange 2016 CU1 dll's and VS configuration/references.

Added the apropriate support at the source code, and changed the install.ps1 file.

Can anyone from this project create a branch in order to allow me to commit/push?

Thank you,

Daniel Costa

[2016-03-23 22:59] Pro commented on #145
@danieljcosta thanks for your effort.
To push you changes, please create a fork, commit it there and then create a pull request.

I'll then release a new version.

[2016-03-24 17:55] danieljcosta commented on #145
Done!

https://github.com/danieljcosta/dkim-exchange

[2016-03-24 20:02] Pro commented on #145
Nope, not yet ;) Please create a pull request:
https://help.github.com/articles/creating-a-pull-request/

Thanks

[2016-03-24 23:07] danieljcosta commented on #145
I think that now its done :) Sorry I'm new here at GitHub.

[2016-03-28 05:43] ablanken commented on #116
@AlexLaroche That solution will not work for people using external email filtering services (Gapps, Exchange Online Protection etc) combined with an increasing amount of online services that send email from your authoritative domains.

[2016-03-28 07:10] avoidik commented on #116
So we need bluelist then. Something like this was proposed in https://github.com/Pro/dkim-exchange/pull/117

[2016-03-28 12:46] #141 closed

[2016-03-28 12:47] Pro commented on #141
@mitacs thans for your valuable feedback! I updated the install instructions according your suggestions.

[2016-03-28 21:49] AlexLaroche commented on #116
@ablanken : Your concern can be address in the follow ways :
Create a account in your Exchange environnement and grant appropriate rights.

For external email filtering services (Gapps, Exchange Online Protection, etc)

- Create a account with right “ms-exch-smtp-accept-any-Recipient” in Exchange

[code]

If your really trust the sender, You could even bypass Exchange Anti-Spam system

[code]

For

[2016-03-29 17:29] Pro commented on #144
Did it happen again?
If yes, can you please enable Debug Logging and wait until it happens again. Then we need the events from the Event Log

[2016-03-30 06:59] hweL commented on #145
Thanks guys for your time and effort!

[2016-03-30 16:40] AlwindB opened #148 "Manual installation"
### Versions
- **Windows Server Version**: Windows Server 2008r2
- **Exchange Version**: 2010 v14.30.0266.001 / v14.03.0294.000
- **Installed DKIM Exchange Version**: 3.0.2/3.0.3
### Description

When trying to install manually using the described procedure we encounter issues in the install.ps1 script, notifying us about Unblock-File errors. This is correct as 2008r2 does not have PowerShell v3 i

[2016-03-30 17:28] Pro commented on #148
I think that the files aren't unlocked successfully and then if Exchange tries to open the files it crashes.

You can check if the files are still locked by opening the file properties dialog (e.g. on `C:\Program Files\Exchange DkimSigner\ExchangeDkimSigner.dll`). It should look something like this:
![image10](https://cloud.githubusercontent.com/assets/251973/14151175/fb9b59f2-f6ac-11e5-809a-0c565

[2016-03-30 19:50] AlwindB commented on #148
The screenshot you posted does not match the interface with Windows Server 2008 r2, the unblock function in simply missing from it. Streams by SysInternals might be a solution.

I'll update you with further information as soon as I have it, I'll have a look at it with the Sysadmin of that server.

[2016-04-14 17:46] FortKnox77 opened #149 "The TransportAgentFactory type "Exchange.DkimSigner.DkimSigningRoutingAgentFactory" doesn't exist."
### Versions

- **Windows Server Version**: 2012 R2
- **Exchange Version**: 15.1.396.30

Hello,
I need advice with the following error, I can not install agent

Error:
[PS] C:\Windows\system32>Install-TransportAgent -Name "Exchange DKIM" -TransportAgentFactory "Exchange.DkimSigner.DkimSi
gningRoutingAgentFactory" -AssemblyPath "C:\DK\ExchangeDkimSigner.dll"
The TransportAgentFactory type "Exchange

[2016-04-14 18:04] Pro commented on #149
This looks like you are using the wrong `ExchangeDkimSigner.dll`
Can you make sure that you are using the correct one in `C:\DK\ExchangeDkimSigner.dll` In your case it should be Exchange 2016 CU1: https://github.com/Pro/dkim-exchange/tree/master/Src/Exchange.DkimSigner/bin/Exchange%202016%20CU1
Copy all the files from this directory to your `C:\DK\` directory.

Also have a look at the commands use

[2016-04-14 18:06] Pro commented on #149
Please also check if your files are unlocked: https://github.com/Pro/dkim-exchange/blob/master/TROUBLESHOOT.md#solution

[2016-04-14 18:43] FortKnox77 commented on #149
Library version 3.0.3 is correct, and the files are not locked.

Unfortunately, the error is still the same

[2016-04-14 18:46] Pro commented on #149
Just to be sure: It isn't enough if the library version is correct, you also have to take the correct .dll for your specific Exchange Version

Can you also try to use the install.ps1 script instead of your manually typed command?

If that doesn't work, send me the .dll files as described here:
https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchang

[2016-04-14 19:30] FortKnox77 commented on #149
Unfortunately, I ended up compiling a mistake and I did not compile it, I have no idea where the problem is.

[2016-04-14 19:32] Pro commented on #149
Please try the install script or the installer, that should work. If not, please reopen this issue.

[2016-04-14 19:32] #149 closed

[2016-05-05 16:33] watermark opened #150 "Some mail not signed, some mail signed incorrectly"
### Versions
- **Windows Server Version**: 2008 R2 Standard
- **Exchange Version**: 2010
- **Installed DKIM Exchange Version**: 3.0.3
### Description

According to DMARC reports: not all mail is signed and some mail is signed incorrectly.  (12% isn't signed at all and 9% is signed incorrectly).  These reports come from several DMARC providers (Google, MS, Yahoo, AOL).  All from a single Exchange s

[2016-05-07 22:40] Lud3rik opened #151 "Exchange DKIM signer not signing"
### Versions

- **Windows Server Version**: Windows Server 2012 R2 Datacenter
- **Exchange Version**: Exchange 2013 -- > 0.1 (8.0.535.0)
- **Installed DKIM Exchange Version**: 3.0.3

### Description
Exchange is not signing my mails with DKIM. The settings are loaded on 1 domain.
When I check, I see in green letters DNS record public key is correct.
I have done my record with the selector default.

[2016-05-08 18:11] Pro commented on #151
Can you set the event logging to debug. Then check the output in the event log when you send an email. Is there anything unusual?

[2016-05-08 18:13] Pro commented on #150
Can you check the Event Log for any error messages from the DKIM Signer. If a mail isn't signed, there should be some warning or error message.

Can you set the Event Log level to debugging. Then for the next DMARC report check if there are any suspicious messages at the time of failure.

[2016-05-08 18:19] Lud3rik commented on #151
I see something like:

DEBUG: No entry found in config 'mydomain.com'
DEBUG:Got new message, checking if I can sign it...

It's a little weird as my mail server is recorded in a subdomain, which is mail.mydomain.com
And the configuration I made in DKIM Setting is related to the subdomain.

[2016-05-08 18:22] Pro commented on #151
Can you post the content of your .xml settings file `C:\Program Files\Exchange DkimSigner\settigs.xml` (replace your domain with e.g. example.com if you need to, but leave the subdomain settings as they are)

[2016-05-08 18:27] Lud3rik commented on #151
Hereby the settings

<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Loglevel>4</Loglevel>
  <SigningAlgorithm>RsaSha256</SigningAlgorithm>
  <HeaderCanonicalization>Simple</HeaderCanonicalization>
  <BodyCanonicalization>Simple</BodyCanonicalization>
  <HeadersToSign>
    <string>From</string>

[2016-05-08 18:34] Pro commented on #151
What is your email adress? `name@example.com`?
Then you have to use `example.com` as your Domain setting.

[2016-05-08 18:41] Lud3rik commented on #151
Okay thank you I will try this.
So can you confirm that I need to:

update my dns record in the registrar
update the domain in DKIM signer
restart transport service

[2016-05-08 18:43] Pro commented on #151
Use the configurator and then set the domain to `example.com`
Use the suggested DNS record in your registrar (yes you need to update DNS depending on your current setting).
The transport service does not need to be restarted since the DKIM signer automatically reloads configuration changes.

[2016-05-08 18:48] Lud3rik commented on #151
Ok thank you
Now my record on the registrar DNS looks like:
default._domainkey 10800 IN TXT "v=DKIM1;" "k=rsa; p=MIIB[...]
It was previously set like
default._domainkey.mail 10800 IN TXT "v=DKIM1;" "k=rsa; p=MIIB

[2016-05-08 18:51] Pro commented on #151
Looks good, does it work with these settings? If yes, please close this bug report. Thanks

[2016-05-08 19:16] Lud3rik commented on #151
I need to w8 3h for the DNS to progate settings but I will keep you informed

[2016-05-08 21:05] Lud3rik commented on #151
Awesome it works perfectly.
Thank you for your help and you support.
Glad to use a homemade opensource software for DKIM :)

Best regards

[2016-05-09 06:37] #151 closed

[2016-05-17 12:22] meluvalli opened #152 "Existing DNS: No record found"
I have been using Exchange DKIM signer for a while now and have had the problem for a long time...  Doesn't matter what version I am running.

Existing DNS under Domain Settings ALWAYS shows No record found...

Simple nslookup on the server using the below commands:
set q=txt
s1024._domainkey.mydomain.com

Returns the domain key text without any problems.

Not sure why the program can't see it.

[2016-05-17 12:45] Pro commented on #152
Can you tell me your domain (or send it to me via private email: http://profanter.me/contact) so I can debug it?

Please also include the selector which you currently use.

[2016-05-17 13:28] meluvalli commented on #152
Sent VIA PM

[2016-05-19 06:44] Pro commented on #152
I'll move the discussion here:
I tested with your domain and it worked for me.

@meluvalli responded:
It's something to do with my server using ROOT hints instead of a forwarder.   I wonder what would cause that???

We are using the DNS Servers specified by windows:
https://github.com/Pro/dkim-exchange/blob/master/Src/Configuration.DkimSigner/MainWindow.cs#L1002
Which calls:
https://github.com/Pro

[2016-05-19 06:44] #152 closed

[2016-07-11 15:00] jefferson-1 opened #153 "Support for Exchange 2016 CU2"
### Versions

- **Windows Server Version**: Server 2012R2
- **Exchange Version**: Exchange 2016 CU2 (15.01.0466.034)
- **Installed DKIM Exchange Version**: Can't install

### Description

Cannot use automated install to install DKIM current version.

### Steps to Reproduce

1. Install Server 2012R2
2. Install Exchange 2016
3. Install CU2 / .NET Framework 4.6.2

**Expected behavior:** Install compl

[2016-07-11 15:31] Pro commented on #153
That would be great.

Please see the documentation here on how to do this:
https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions

[2016-07-11 16:29] jefferson-1 commented on #153
Posted all changes. Note -- I haven't tested. For something like this, I'll test on the live server after hours...

[2016-07-12 15:58] jefferson-1 commented on #153
Tested fine on live server. Proposing a merge with main branch.

[2016-07-12 18:25] Pro commented on #153
Thank you very much!!
I'll merge it and create a new release in the coming days.

[2016-07-12 18:25] #153 closed

[2016-07-12 18:27] jefferson-1 commented on #153
Welcome :)

Sent from my iPhone

On Jul 12, 2016, at 12:25 PM, Stefan Profanter <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you very much!!
I'll merge it and create a new release in the coming days.

-
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Pro/dkim-exchange/issues/153#issuecomment-232

[2016-07-16 13:42] cassioac opened #155 "CU13"
Hi, just curious on when will the CU13 update be available.

Thanks

[2016-07-16 14:11] Pro commented on #155
I need the corresponding .dll files for that.
See: https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions

[2016-07-16 14:21] cassioac commented on #155
So I should disable dkim signer, install cu13 to harvest files and wait for the update?

Sent from my iPhone

On Jul 16, 2016, at 11:14, Stefan Profanter <notifications@github.com<mailto:notifications@github.com>> wrote:

I need the corresponding .dll files for that.
See: https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions

-
You are

[2016-07-16 14:36] cassioac commented on #155
Or I could just install on a test server lol.

thanks, I’ll provide the files soon

On Jul 16, 2016, at 11:21 AM, Cassio Simoes <cassio@iphonesp.com.br<mailto:cassio@iphonesp.com.br>> wrote:

So I should disable dkim signer, install cu13 to harvest files and wait for the update?

Sent from my iPhone

On Jul 16, 2016, at 11:14, Stefan Profanter <notifications@github.com<mailto:notifications@github.

[2016-08-02 13:56] kubik256 commented on #155
EXCHNAGE 2013 CU13 files are here: https://drive.google.com/file/d/0B-02UcncQWLTRlNuRWVNdkIwZU0/view?usp=sharing

[2016-08-02 14:29] cassioac commented on #155
Thanks kubik256, although I said I would, I didn't have time to do this myself.

[2016-08-02 15:04] kubik256 commented on #155
No problem. Unfortunately I'm not much familliar with C#, so thanks to anyone who will do the code part :)

[2016-08-04 08:25] k6row commented on #155
I have also already created a pull request for this, with the required files attached

[2016-08-18 18:29] jmdevince commented on #116
Why not refactor this as a SmtpReceiveAgent instead of RoutingAgent.. since this applies to the message whenever its being sent out via SMTP is when this should be done, not when in routing. since a message can get routed multiple times its easy to get multiple signs, which I had problems with.

Also it's easy to tell if the message is internal -> external or not using a combination of rcptArgs.Sm

[2016-08-18 20:36] Pro commented on #116
This sounds reasonable, but I'm currently not up to date on the capabilities/differences between the RoutingAgent and SmtpRecieveAgent.
Also currently I don't have time to investigate that further.
If you want, you can check if it is possible to use the SmtpReceiveAgent and modify the Source to create a Pull Request.

[2016-08-25 14:46] nsumner36 commented on #155
Is there any update on this at all. If you need the files still I will be happy to provide them!

[2016-08-31 06:50] mettix opened #158 "domain config, 'selector' field?"
### Versions

- **Windows Server Version**: [2008R2]
- **Exchange Version**: [2010SP3]
- **Installed DKIM Exchange Version**: [latest]

### Description

Selector setting? Hello, on the domain configuration tab there is a field named selector, what should I input there? (servername?)

Thanks in advance.

[2016-09-04 14:35] VladlenBulatov opened #159 "CrossTenant messages not signed"
### Versions

- **Windows Server Version**: 2012 R2
- **Exchange Version**: 15.0.1178.4
- **Installed DKIM Exchange Version**: 3.0.4

### Description

CrossTenant messages not signed while routed by high prority filters

[Description of the bug or feature]

dkim-agent installed on MB-servers.
External messages are signed correctly (routed to gmail or so on)
But cross-tenant (from onpremise to offi

[2016-09-04 14:39] VladlenBulatov commented on #158
selector is name of DNS record -
selector: 20160904
domain: example.com
full name for record are - (TXT) 20160904._domainkey.example.com

[2016-09-04 16:51] VladlenBulatov commented on #159
Sorry it a not of routing problem is a TNEF related problem

[2016-09-09 09:20] impoole commented on #155
Any update, we're also stuck with CU13

[2016-09-09 14:59] mettix commented on #158
Hello,

Yes it is working meanwhile. Will the app be updated to support the latest Exchange 2013 CU release?
Thanks!

[2016-09-09 15:08] Pro commented on #158
Sorry for the late reply, I'll add support for the latest Exchange Versions this weekend.

[2016-09-09 15:08] #158 closed

[2016-09-09 15:12] Pro commented on #155
Sorry for the late reply, I'll add support for the latest Exchange Versions this weekend.

[2016-09-09 15:15] Pro commented on #159
If the message contains a TNEF part, it won't be signed, that's on purpose because they are normally internal messages.
See the comment here: https://github.com/Pro/dkim-exchange/blob/64dc22248c3a9f87e7d5d0ad6bc1252da8080776/Src/Exchange.DkimSigner/DkimSigningRoutingAgent.cs#L91

Hope this answers your question.

[2016-09-09 15:15] #159 closed

[2016-09-09 19:12] Pro commented on #155
Done and released: https://github.com/Pro/dkim-exchange/releases/tag/v3.0.5

[2016-09-09 19:12] #155 closed

[2016-09-12 08:49] impoole commented on #155
Many thanks, that’s great – saved me rolling back to CU12!

From: Stefan Profanter [mailto:notifications@github.com]
Sent: 09 September 2016 20:12
To: Pro/dkim-exchange <dkim-exchange@noreply.github.com>
Cc: Ian M Poole <ian.poole@nurved.com>; Comment <comment@noreply.github.com>
Subject: Re: [Pro/dkim-exchange] CU13 (#155)

Done and released: https://github.com/Pro/dkim-exchange/releases/tag/v3.0

[2016-10-04 13:58] hansmannaerts opened #161 "Inbound DKIM check"
Hi,

Are there any plans to check DKIM on inbound mails?

Kind regards,
Hans Mannaerts

[2016-10-04 14:18] Pro commented on #161
Hi Hans,
no, there are no specific plans for that feature.
I don't have enough time to develop new features for dkim-exchange, but Pull Requests are always welcome.

[2016-10-10 00:27] rbfajardo commented on #161
MimeKit supports verifying DKIM signatures if anyone is willing to invest time in this.

Source: https://github.com/jstedfast/MimeKit/blob/master/README.md

Verifying DKIM Signatures

Verifying DKIM signatures is slightly more involved than creating them because you'll need to write a custom implementation of the IDkimPublicKeyLocator interface. Typically, this custom class will need to download t

[2016-10-11 03:17] rhymeswithmogul opened #162 "DKIM Exchange constantly crashes the MSExchangeTransport service (2010 SP3 CU14)"
### Versions
- **Windows Server Version**: Windows Server 2012, fully patched
- **Exchange Version**: Exchange Server 2010 SP3 CU14 (14.3.319.2)
- **Installed DKIM Exchange Version**: 3.0.6
### Description

When the transport rule is enabled, the Microsoft Exchange Transport service continually crashes and restarts.  Mail is not delivered to or from the server, and SMTP is unavailable.

The follow

[2016-10-24 08:47] ciezakj opened #163 "Support for Exchange 2013 CU14"
### Versions

- **Windows Server Version**: [2k12R2]
- **Exchange Version**: [2013 CU14]
- **Installed DKIM Exchange Version**: [3.0.5]

### Description

Is Exchange 2013 no longer supported? I can see the support for 2013 CU3 but not for 2013 CU14.
Regards
Jack

[2016-10-24 14:09] Pro commented on #163
I don't have the required .dll files.
See:
https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions

[2016-10-25 01:12] sidgms commented on #163
I have already created a pull request for this.

[2016-10-26 18:40] Pro commented on #163
Released as v3.0.7
Thanks!

[2016-10-26 18:40] #163 closed

[2016-11-08 10:39] scifire91 opened #165 "MSExchange 2007 Transport won´t start with DKIM SIgner"
### Versions

- **Windows Server Version**: [Windows Server 2008R2 SP1]
- **Exchange Version**: [Exchange Server 2007 8.03.0083.000]
- **Installed DKIM Exchange Version**: [3.0.7]

### Description

Installation and configuration works finde. Problem is if i want to enable the DKIM Signer with the gui the Transport Service won´t start anymore.

### Steps to Reproduce

1. Start Exchange DKIM Signer

[2016-11-21 14:55] scifire91 commented on #165
Now Exchnage is last Version [08.03.0485.001] Still the same Problem

[2016-11-25 00:30] supermistag commented on #112
Had the same issue in our Agent, spent a bit of time trying various locations for the .Resume() and eventually nailed it.

[code]

The documentation on the interweb kind of infers you should call .Resume before doing any work to COMPLETE the event. Not sure what else can be called other than Complete(), maybe a research for another day ...

Hope this helps. I see many other agents suffering the sa

[2016-12-08 11:44] Olexunder opened #166 "Exchange 2010 Transport service crashes after DKIM installation"
### Versions
- **Windows Server Version**: Windows Server 2012 R2 64-bit
- **Exchange Version**: Exchange Server 2010 Version: 14.03.0319.002
- **Installed DKIM Exchange Version**: 3.0.7

### Description

After installation service can't run.
Error:"Description:
Watson report about to be sent for process id: 6476, with parameters: E12, c-RTL-AMD64, 14.03.0319.002, edgetransport, ExchangeDkimSigner

[2016-12-08 11:48] Olexunder commented on #166
When I disable DKIM agent for Exchange - Transport service starts normally.
Wghen I enable agent again - Transport service crashes.

[2016-12-09 11:44] jaapwess opened #167 "Exchange 2016 CU4"
Hi,

No issue, but I can confirm the DKIM Signing module works with Exchange 2016 CU4.
Do you have any plans to write a DKIM Verify module?

Thanks,
Jaap Wesselius

[2016-12-09 12:27] Pro commented on #167
Thanks for the info! Did you recompile something, or just used the one from CU3?

There aren't any plans to develop a verify module, unfortunately I don't have enough spare time. Pull requests are always welcome. (See #161)

[2016-12-09 13:07] jaapwess commented on #167
Hi,

I installed it on CU2, then upgraded to CU3 and now to CU4 (not available yet, I’m in the Microsoft TAP program). Use it for my lab environment and blogged about it: https://jaapwesselius.com/2016/08/22/senderid-spf-dkim-and-dmarc-in-exchange-2016-part-ii/

I would love to see a verify module though, preferably without any appliance or cloud service.
What does it take to get you considering t

[2016-12-13 10:59] Monki77 commented on #165
Exact same problem here.
I think this is related to Exchange though and not the DKIM Signer. I tried this one _https://bitbucket.org/OmniFinancial/bigglesworth_ and the same thing happens.

[2016-12-13 11:36] Pro commented on #165
We had this problem in the past when the .dlls changed during an exchange update. It should be enough to recompile for this specific version.

Can you please upload the required .dll files and post the link here so that I can try it out:
https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions

[2016-12-13 11:37] Pro commented on #166
Did you install a recent update for Exchange 2010?

We had this problem in the past when the .dlls changed during an exchange update. It should be enough to recompile for this specific version.

Can you please upload the required .dll files and post the link here so that I can try it out:
https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-ver

[2016-12-13 11:39] Pro commented on #162
Duplicate of #166

[2016-12-13 11:39] #162 closed

[2016-12-19 12:54] rtenklooster commented on #167
I tried installing it to a new 2016 CU4 installation. It failed because it's  not (yet) supported.
However i modified the install.sh and the lib /  src folders.
Just added the CU4 to the file and copied the CU3 content to a new folder.
Works perfectly now.

[2016-12-22 18:17] Pro commented on #150
I will close this issue for now, since there is no new update. Please report back if this problem still occurs.

[2016-12-22 18:18] Pro commented on #144
Since there are no new update I'll close this issue. Report back if this problem still occurs.

[2016-12-22 18:18] #144 closed

[2016-12-22 18:50] Pro commented on #166
@Olexunder please send me the files as mentioned here https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions so I can add support for Exchange 2010 SP3 RU15

[2016-12-22 18:54] Pro commented on #167
@rtenklooster thanks for the info. A new version supporting CU4 officially will be released in a few minutes.

@jaapwess to add a verify module it requires some hours of work which I currently don't have. Hopefully in 2017 I will have more spare time to have a look at it on how to implement DKIM verification.
As already said, pull requests are always welcome, and some beers (https://pledgie.com/ca

[2016-12-22 19:07] #165 closed

[2016-12-22 19:07] #167 closed

[2016-12-22 19:10] Pro commented on #148
@AlwindB any updates on this?

[2016-12-22 19:25] watermark commented on #150
This issue still occurs. The event logs do not offer anything I'd consider useful.  I've installed this plugin on 2 (used to be 3) completely different exchange servers and this issue occurs on all of them.

With there being no error messages in the event log, it kinda seems like there is some way for the mail to be sent through the Exchange server, but not trigger the plugin's signing code.  Can

[2016-12-22 19:40] Pro commented on #150
ATM I can not think of any reason why some mails would not be sent though the DKIM transport agent.
The output at line https://github.com/Pro/dkim-exchange/blob/master/Src/Exchange.DkimSigner/DkimSigningRoutingAgent.cs#L50 should always be there. If not then the message is not sent to the DKIM agent.

Is there any info in the DMARC report which shows some common properties on the emails which aren

[2016-12-22 20:29] jaapwess commented on #167
At first my thought was to drive to Munich to buy you some beer, but donating it is faster. Don’t get too drunk ☺

From: Stefan Profanter [mailto:notifications@github.com]
Sent: donderdag 22 december 2016 19:54
To: Pro/dkim-exchange <dkim-exchange@noreply.github.com>
Cc: Jaap Wesselius <jaap@wesselius.info>; Mention <mention@noreply.github.com>
Subject: Re: [Pro/dkim-exchange] Exchange 2016 CU4 (#

[2016-12-23 07:03] scifire91 commented on #165
@Pro Unfortunately it doesn't work with this version. Same problem as before

[2016-12-23 07:55] Pro commented on #165
Hm, ok, that's bad, but it was worth a try.
Since Ex 2007 will not be supported by microsoft after april 2017 I don't plan to spend too much effort in supporting exchange 2007 at all.

[2016-12-23 13:23] scifire91 commented on #165
Sure, understandable.... Anyway thanks for the work and the try to fix it.

[2016-12-29 12:31] Olexunder commented on #166
I have Exchange 2010 sp3 rollup update 15

[2016-12-29 12:52] Olexunder commented on #166
I have another remark.
We installed Exchange 2010 on Windows Server 2012R2. Formally it is unsupported configuration by Microsoft. Is it important?

[2017-01-01 19:05] Pro commented on #167
@jaapwess verifier is in progress:
https://github.com/Pro/dkim-exchange/tree/feature/dkim-verify

[2017-01-01 19:06] Pro commented on #161
In progress, still needs some work:
https://github.com/Pro/dkim-exchange/tree/feature/dkim-verify

[2017-01-02 23:56] WesleyDudzinski opened #170 "Default Exchange Configuration causes DKIM to skip signing"
### Versions

- **Windows Server Version**: Windows Server 2012 R2 Standard
- **Exchange Version**: Exchange 2013 CU15 (15.0.1263.5)
- **Installed DKIM Exchange Version**: 3.0.8

### Description

Installed and configured software. DKIM Signer skips signing all outgoing messages

### Steps to Reproduce

1. Configured the software for netnut.org domain. Set debug to 4.
2. Created new message. Server

[2017-01-12 10:51] Besdima opened #171 "Exchange NDR messages not signed"
Versions

Windows Server Version: Windows Server 2012 R2 Standard
Exchange Version: Exchange 2013 CU15 (15.0.1263.5)
Installed DKIM Exchange Version: 3.0.8

Description

Dkim signer didn't sing NDR messages from postmaster@domain.com, so gmail reject this messages with DMARC policy error: 550 5.7.1 This message was not accepted due to domain owner DMARC policy

In debug:
DEBUG: Got new message, ch

[2017-02-03 10:34] Tsjoenkie opened #172 "DKIM-Result: fail wrong body hash"
- **Windows Server Version**: [2012]
- **Exchange Version**: [2010]
- **Installed DKIM Exchange Version**: [3.0.8]

This morning we insalled DKIM-Exhange on our server,It was Quite Easy but It wIf do a test we are reciving the following error DKIM-Result: fail wrong body hash,

We tryed to generated a new key and updated the DNS, But that didnt solve the problem.

[2017-02-17 03:55] wish01 commented on #113
Hello, I installed version 3.0.8 and mimekit 1.2.21. Error signed letters with the name in Russian investments, dkim Error signature continues. Message gmail: DKIM:	NEUTRAL, domain null

[2017-02-17 08:04] avoidik commented on #113
Did you configured SPF/TXT records for your MX-domain?

17 февр. 2017 г. 5:55 пользователь "wish01" <notifications@github.com>
написал:

[2017-02-17 08:14] wish01 commented on #113
If the name of the attachment in a letter in English, the DKIM record is correct. One and the same attachment with different names in Russian not being tested on English test passes.

[2017-03-09 05:51] wish01 commented on #86
Hi, how to change the setting so that the attachments are always coded the same, if the name of the attachment is Cyrillic, then Content-Type: text / plain; Charset = "koi8-r", DKIM: Error. if the name of the attachment is in Latin, then Content-Type: text / plain; Charset = "windows-1251", DKIM: PASS.
Where do I change the encoding setting on the Exchange server or in Exchange DkimSigner?

[2017-03-09 05:53] avoidik commented on #86
AFAIK encoding detected based on email's text and subject automatically

9 мар 2017 г. 7:51 пользователь "wish01" <notifications@github.com> написал:

[2017-03-09 06:02] wish01 commented on #86
How then to fix the DKIM error? Upgrading to version 3.0.8 did not fix the bug.

[2017-03-17 09:45] avoidik commented on #86
@wish01 you can try advise above
[code]

[2017-03-22 10:08] Mikasa77 commented on #172
Another new user also seeing this. Stamping for a few domains on our exchange 2010 edge box.

**Validating Signature**
result = fail
Details: body has been altered

[2017-03-22 12:33] Mikasa77 commented on #172
- Windows Server Version: [2012]
- Exchange Version: [2010]
- Installed DKIM Exchange Version: [3.0.8]

Update to the issue.

Internal Exchange 2010 DAG nodes do signature stamping before handing the mails over to the edge relay via EdgeSync. DKIM signing is done at this stage.

All emails are signed but those with the signature fail validation tests with 'Body has been altered'. Removing the sign

[2017-03-30 12:45] tuitioner opened #173 "Transport Role Does Not Start"
### Versions

- **Windows Server Version**: [2003 R2]
- **Exchange Version**: [2007 SP3]
- **Installed DKIM Exchange Version**: [3.0.8]

### Description
Service TransportRole is not start. In events:

Event Type:	Error
Event Source:	MSExchange Common
Event Category:	General
Event ID:	4999
Date:		30.03.2017
Time:		14:52:38
User:		N/A
Computer:	HSH-EXCH
Description:
Watson report about to be sent to

[2017-04-06 19:31] PetieM opened #174 "Domain Sorting?"
### Versions

- **Windows Server Version**: 2008 R2 Datacenter SP1
- **Exchange Version**: 14.03.0319.002
- **Installed DKIM Exchange Version**: 3.0.8

### Description

This is really minor but I couldn't find a better place to request it. Please let me know if I should do this elsewhere.

I have a large number of accepted domains I'm working with. I love the DKIM signer utility and this would rea

[2017-04-07 06:07] Pro commented on #174
Thanks for the suggestion.
That's indeed just one click in the Visual Studio designer, setting the ListBox.Sorted property (https://msdn.microsoft.com/en-us/library/system.windows.forms.listbox.sorted(v=vs.110).aspx)

I'll include that in the next release, which will be released hopefully soon!

[2017-04-07 06:10] Pro commented on #170
Thanks for the hint!

I'll add that to the documentation. Deciding if TNEF is enabled or not should be the responsibility of the Admin and not the install script.

[2017-04-07 06:17] Pro commented on #171
I don't think that we can sign system messages (i.e., NDR messages), since they are read-only to the dkim signer:

https://github.com/Pro/dkim-exchange/blob/master/Src/Exchange.DkimSigner/DkimSigningRoutingAgent.cs#L94

I need to investigate that further.

Btw, the error message says "DMARC policy" problem, which is not the same as DKIM. Not sure if the error message is just not clear enough or th

[2017-04-07 06:20] Pro commented on #172
@Tsjoenkie can you enable debug output and check the logs:
https://github.com/Pro/dkim-exchange#logging and the corresponding EventViewer (Hint: you can create a user defined view in EventLog and then select "Per Source" and as the value "Exchange DkimSigner")

@Mikasa77 signing must be done on the edge server, i.e., the last in line. Otherwise the edge server may alter the message body and thus t

[2017-04-07 06:24] Pro commented on #173
Does the agent work, if you generate the settings on the Exchange Server directly?
The error message says, that probably the settings.xml file was not found by the signer. Make sure that it is at the same location where the .dll is stored.

I have never tested Windows Server 2003 and it will also not be supported by this signer.

[2017-04-07 13:14] Mikasa77 commented on #172
Cheers @Pro, this is how we're actually set it up. DKIM signing is done on the edge relay server, last stage. The signature signing is carried out on the internal dag nodes.

DAG Pair (Signature) - Edge Relay (DKIM) - Internet.

When i enable sigs on the DAG nodes the DKIM fails. Our internal dev's had a look and think it may be due to the embedded images in the emails when signature stamping is e

[2017-04-07 13:30] Besdima commented on #171
Hi!
I have look at mail headers in NDR messages, and it wasn't DKIM sign in there.

[2017-04-14 08:37] pcxeon2 opened #175 "Exchange 2016 CU5"
Hello,

Would it be possible to have an update to support Exchange 2016 CU5?

Thank you

[2017-04-14 11:47] Pro commented on #175
Hi,
for that I need the corresponding .dll files.
Please read the following:
https://github.com/Pro/dkim-exchange/blob/master/CONTRIBUTING.md#how-to-include-support-for-newer-exchange-versions

[2017-04-14 12:32] #175 closed

[2017-04-23 12:26] #174 closed

[2017-04-25 12:28] davehepler commented on #172
Do you guys have an update on this?  I have the exact same issue.  DKIM-Result: fail (wrong body hash:
We use CodeTwo exchange rules to embed signatures with pictures and whatnot.  This is installed on the mailbox server.  I have DKIM signer on the edge transport server, last in line as mentioned above.  If I disable CodeTwo signatures on the mailbox server, DKIM works.   As Mikasa77 says above, i

[2017-04-25 13:28] Pro commented on #172
Can you try to reproduce the problem by disabling CodeTwo (and any other third party tools), and then create a new email in Outlook, write some text and embed an image inline?

If yes, let me know how you did it, so I can debug it on my dev system.

[2017-05-12 09:33] termsl opened #177 "Could not sign message: the list of headers to sign should not include the unknown headers"
### Versions

2012R2- **Windows Server Version**: [Your version]
14.3.123.4- **Exchange Version**: [Your version]
3.0.9- **Installed DKIM Exchange Version**: [Your version]

### Description

Hi, DKIP isnt sign messages, in log many same records
"Could not sign message: the list of headers to sign should not include the unknown headers"

![image](https://cloud.githubusercontent.com/assets/3257553/2

[2017-05-23 03:34] maximallist opened #180 "I added compatibility with Exchange 2013 SP1 CU16"
### Versions

- **Windows Server Version**: 2008 R2 x64
- **Exchange Version**: 2013 SP1 CU16
- **Installed DKIM Exchange Version**: 3.0.9

### Description
Hi, Pro! I ask you to accept changes in the project for support of compatibility with Exchange 2013 CU16. My "Pull requests" #179. Testing took place successfully in my system.
#

[2017-05-24 17:51] #180 closed

[2017-05-24 17:52] Pro commented on #180
Thanks a lot!
I'll release it shortly

[2017-06-02 03:49] julianmaria commented on #177
The same here.

[2017-06-02 11:44] thomsen887 opened #181 "Invalid from address '<>' and invalid SmtpAddress ''. Not signing email."
### Versions

- Windows 2012 R2
- Exchange Version 15.1 ‎(Build 845.34)‎]
- Installed DKIM Exchange Version 3.0.10

### Description

I receive this warning:
Invalid from address '<>' and invalid SmtpAddress ''. Not signing email.

In queue viewer From Address is present, but warning appears on each emails. All domains are signed.

[2017-06-08 01:01] zrbite2k commented on #177
Am seeing same issue (messaged not being signed) and event log with message "Could not sign message: The list of headers to sign SHOULD NOT include the 'Unknown' header.
2008R2, Exchange 14.3.123.4, DKIM Exchange 3.0.10

[2017-06-08 01:44] zrbite2k commented on #177
I downgraded to 2.1.8 and that version is working so am using that now. I also tried 3.0.2 earlier but also resulted in the same problems.

[2017-06-08 11:51] group-it opened #182 "Unrecognised key type"
### Versions

- **Windows Server Version**: 2008 R2 SP1- **Exchange Version**: 2010 SP3 RU17
- **Installed DKIM Exchange Version**: 3.0.10
### Description
"Couldn't load private key for domain [mydomainname]. The given key does not have the correct type. The keyfile must include the prvate and public key in PEM format. It is of type: Org.BouncyCastle.Crypto.Parameters.RsaKeyParameters

[Descriptio

[2017-06-08 15:21] group-it commented on #172
Hi .. I am experiencing the same issue.. we have no third party tools applying signatures other than "outlook" adding in a logo ..
Someone earlier suggested TNEF being an issue.. I've just set a remote domain to not allow RichText .. and so I'm hoping this will negate the issue..

Did anyone on this list.. get to the bottom of the issue ? I was testing against port25.com and got
Result:         fa

[2017-06-08 15:23] group-it commented on #182
I created a different private & public key, uploaded it and now the system starts up without failure.

[2017-06-11 03:18] cassioac opened #183 "CU16 available?"
Hi, I see 2013 CU16 is listed as supported in the description, but CU15 support is the latest version available for download, what is the current status please?

[2017-06-16 10:47] f3rik commented on #148
Hey Pro,

I want to install it on a Windows Server 2008r2 with Exchange 2010 SP1 and is asking for .net 4.5 as requirements but my operating system is not suporting 4.5 only 4.0.

In the troubleshooting guideline I saw that there is an option to change the target framework to .NET 3.5 but  unfortunately I am not able to do that is keep throwing me some errors that some parts are missing. I am prob

[2017-06-30 18:03] maximallist commented on #183
Hi! Inaccuracy in the design of the new version. Support for CU16 is available!

[2017-07-07 02:34] colinwilson commented on #181
@thomsen887  Just experienced the same warning. Identical environment as you.
![exchange_dkim_event_viewer_opt](https://user-images.githubusercontent.com/12916656/27940831-1b97d624-62c5-11e7-879b-d100e06a47da.png)

[2017-07-14 06:26] Bolderus opened #184 "When Exchange 2016 CU6 Support will be avaliable?"
Dear Master,

When Exchange 2016 CU6 support will be added?

[2017-07-20 06:41] Bolderus commented on #184
Anybody knows when Exchange 2016 CU6 support will be avaliable

[2017-07-27 03:27] takeittothemax opened #185 "CU17 availability?"
Just wondering if there was an ETA or know if 3.0.10 works with CU17?

[2017-07-31 11:17] RickStinson commented on #171
+1 for this issue.
Rejected Postmaster Mails are definitly a problem - espacially when people gets no "undelivered" messages back.

Workaround: use as postmaster address an subdomain without DKIM (eg postmaster@subdomain.mydomain.com)

[2017-08-15 08:33] Hakan74 opened #186 "Couldnt load private key for domain"
### Versions

2008 R2(2011 SBS) - **Windows Server Version**: [Your version]
2010 - 14.3.123.4 - **Exchange Version**: [Your version]
3.0.10 - **Installed DKIM Exchange Version**: [Your version]

### Description

[Description of the bug or feature]

  | 2017-08-15T10:00:55.000 | Couldn't load private key for domain xxxxx: The given key does not have the correct type. The keyfile must include the p

[2017-08-16 11:01] jaapwess commented on #184
I don't know when CU6 is officially supported, but DKIM signing works flawlessly with CU6

[2017-08-16 20:51] takeittothemax opened #187 "T_DKIM_INVALID"
### Versions

- **Windows Server Version**: [2012 R2]
- **Exchange Version**: [2013 CU16]
- **Installed DKIM Exchange Version**: [3.0.10]

### Description

I keep testing my email settings on mailtest@unlocktheinbox.com. After a while I will get dkim header invalid. I restart transport and then it starts working again. Thoughts?

[2017-08-22 06:46] Bolderus commented on #184
![dkim_agent](https://user-images.githubusercontent.com/28384123/29552134-af16344a-871e-11e7-8542-61d19fb1aec4.jpg)

But I am getting error when I want to setup.

[2017-08-27 16:02] GodfatherX64 commented on #184
+1 @Bolderus , i get the same error and cant setup it

[2017-08-29 12:31] PermaGreenCLM commented on #184
Try this build, compiled/passed check: #189
includes Exchange 2013 SP1 CU17  and Exchange 2016 CU6 support

[2017-08-29 12:32] PermaGreenCLM commented on #185
Try this build, compiled / passed check: #189
includes Exchange 2013 SP1 CU17 and Exchange 2016 CU6 support.

[2017-09-05 11:49] clsaad commented on #181
Change in the DkimSettings to relaxed. It's work.

[2017-09-06 09:59] thomsen887 commented on #181
Nothing to change. Header or body i should change to relaxed algorithm?

[2017-09-11 13:48] clsaad commented on #181
Only the From/To Field to relaxed. In my case I change all fields to
relaxed.

2017-09-06 6:59 GMT-03:00 thomsen887 <notifications@github.com>:

[2017-09-11 14:45] thomsen887 commented on #181
relaxed.

Is this correct?

![image](https://user-images.githubusercontent.com/29143967/30280615-e0dc8cae-9718-11e7-8c8a-a89bd7cb996f.png)
![image](https://user-images.githubusercontent.com/29143967/30280644-f32fdbcc-9718-11e7-8046-0d93b926bd76.png)

[2017-10-05 03:30] j0rt3g4 opened #191 "CU16 support date?"
Hi all
I just was curious about when are you planning to make the program compatible with the CU16? thank you

[2017-10-06 17:47] CrashTheGreat opened #193 "Exchange 2013 CU18"
Hi!

You have plans to make support CU18? When?

Thanks!

[2017-10-08 03:55] reqlez commented on #193
I'm going to try to pickup the slack on at least getting new versions supported, unfortunately I haven't touched an IDE in 10 years... Just installed Visual Studio 2017 and will see how I make out :)  pro does not have a lot of time to work on the project it seems.

[2017-10-08 12:28] ulfmerbold opened #194 "How to get the Verification to work"
### Versions

- **Windows Server Version**: 2012R2
- **Exchange Version**: 2016 Enterprise CU7
- **Installed DKIM Exchange Version**: selfcompiled 4.0.0 with Verification

### Description

Loaded the Sources, modded to run against Exchange 2016 CU7
Updated Project to MimeKit.1.18.1 and NUnit.2.6.4

But how to get the verification to work?
In the installer script the verification Agent is missing..

[2017-10-08 16:43] ulfmerbold commented on #194
`# Setup DKIMVerifying
write-host "Registering verifying-agent" -f "red"

Install-TransportAgent -Name "Exchange DkimVerifier" -TransportAgentFactory "Exchange.DkimVerificator.DkimVerificatorAgentFactory" -AssemblyPath "$EXDIR\Exchange.DkimVerificator.dll"

write-host "Enabling verifying-agent" -f "green"
enable-transportagent -Identity "Exchange DkimVerifier"
get-transportagent`

----------------

[2017-10-09 04:09] reqlez commented on #193
Got a request going to merge my code into master, but if you need it right away, you can use the new complied files under my branch: https://github.com/reqlez/dkim-exchange/tree/reqlez-2013CU18

You can clone and install manually. Tested against my CU18 ex2013 server, signed the e-mail just fine nothing crashed.

[2017-10-11 12:11] dwerdler opened #196 "Support for Exchange 2016 CU6 & 7"
Hi There,

First i want to say i'am a fan of this piece of software it really helps us out alot! Cheers for the contributors. Is there any roadmap on when the newest version will be released that supports 2016 CU6 and/or 7?

I saw a post where they are pointing to a checkout of the newest version, but i'am a newbee and don't know how to pull that off! (https://github.com/Pro/dkim-exchange/issues/1

[2017-10-11 20:56] leungda commented on #196
I am wanting to have support on Exchange 2016 CU6

[2017-10-11 21:15] leungda commented on #184
where can I download the 3.0.11?

[2017-10-12 16:08] #185 closed

[2017-10-12 17:49] reqlez commented on #196
I'll be adding support for CU6 and CU7 tomorrow ( if somebody doesn't beat me to it lol)

[2017-10-12 17:59] AlexLaroche commented on #193
Resolve by version : v3.0.11

https://github.com/Pro/dkim-exchange/releases/tag/v3.0.11

[2017-10-12 17:59] #193 closed

[2017-10-12 18:00] AlexLaroche commented on #183
Support since version : v3.0.10

[2017-10-12 18:00] #183 closed

[2017-10-12 18:01] AlexLaroche commented on #191
Support since version : v3.0.10

[2017-10-12 18:01] #191 closed

[2017-10-12 18:35] j0rt3g4 commented on #191
Hi alex, I mean Exchange 2016 CU16. not 2013, I'm sorry but I don't see it listed.

[2017-10-12 20:39] AlexLaroche commented on #196
Support since version 3.0.12.

[2017-10-12 20:39] #196 closed

[2017-10-12 20:39] AlexLaroche commented on #184
Support since version 3.0.12.

[2017-10-12 20:39] #184 closed

[2017-10-13 15:11] #182 closed

[2017-10-15 11:17] meluvalli opened #197 "No valid author signature"
I am not sure if this is an issue with DKIM-Exchange or something else.

But hen testing with dkimvalidator.com, I get the following:
1.1 DKIM_ADSP_ALL          No valid author signature, domain signs all mail

From what I can find online, it should include i=someone@mydomain.com.   I tried adding this to my DNS _domainkey, but doesn't solve the problem.  Maybe it needs to be in the message header

[2017-10-15 11:36] meluvalli commented on #197
Ok.  Figured it out.  Sorry :(.   I had "simple" selected for Canonicalization settings.  Changed it to "Relaxed" and all is working now :)

Thank you!

[2017-10-15 11:36] #197 closed

[2017-10-20 18:17] j0rt3g4 opened #198 "Check your internet connection in computer with internet."
### Versions (Latest)

Couldn't get current version.
Check your Internet connection or restart the application.

### Description
I uninstalled the previous version 3.0.8
and I wanted to update to 3.0.12
now... I got that error:
Couldn't get current version.
Check your Internet connection or restart the application.

The computer has internet and it's enabled
http://prntscr.com/gzwf2e

[2017-12-27 08:17] stryqx opened #200 "Able to Help"
I'm happy to initially help maintain dkim-exchange for new 2013/2016 CUs and then help add additional features with some mentoring.
My Visual Studio skills are a bit rusty, but I'm a competent programmer so it won't take too long to pick it up again.

[2017-12-28 11:41] Pro commented on #200
Chris, thank you very much for the offer.
I will write you more in the middle of January, I'm currently with limited internet access.
Feel free to create Pull Requests in the meantime.

Von: Chris Knight
Gesendet: Mittwoch, 27. Dezember, 03:17
Betreff: [Pro/dkim-exchange] Able to Help (#200)
An: Pro/dkim-exchange
Cc: Subscribed

I'm happy to initially help maintain dkim-exchange for new 2013/2016

[2017-12-28 12:47] stryqx commented on #200
Will do.
I have access to Visual Studio Professional from 2005 onwards. Do you have
a preference of version I should use for dkim-exchange?

On 28 Dec. 2017 22:41, "Stefan Profanter" <notifications@github.com> wrote:

[2017-12-28 15:42] Pro commented on #200
Preferably 2015 or 2017

On Thu, Dec 28, 2017 at 7:47 AM -0500, "Chris Knight" <notifications@github.com<mailto:notifications@github.com>> wrote:

Will do.
I have access to Visual Studio Professional from 2005 onwards. Do you have
a preference of version I should use for dkim-exchange?

On 28 Dec. 2017 22:41, "Stefan Profanter" <notifications@github.com> wrote:

-
You are receiving this because yo

[2017-12-31 00:42] PetieM opened #201 "Existing DNS Check"
### Versions

- **Windows Server Version**: 2008 R2 Datacenter
- **Exchange Version**: 14.3.123.4
- **Installed DKIM Exchange Version**: 3.0.12

### Description

I seem to be having trouble with the record checking feature on the Domain Settings tab. It's never worked for me and I figured maybe it was something that I did wrong but it now seems that it might have something to do with Google Domain

[2017-12-31 02:05] Pro commented on #201
Can you post one of your domains, where you set DKIM, so we can debug it?

On Sat, Dec 30, 2017 at 7:42 PM -0500, "Petie" <notifications@github.com<mailto:notifications@github.com>> wrote:

Versions

  *   Windows Server Version: 2008 R2 Datacenter
  *   Exchange Version: 14.3.123.4
  *   Installed DKIM Exchange Version: 3.0.12

Description

I seem to be having trouble with the record checking fea

[2017-12-31 04:08] PetieM commented on #201
Of course! Sorry, I really should have done that to begin with. You can check against brokenrevolution.com. My selector is br if that helps as well.

[2017-12-31 12:19] RickStinson commented on #200
good to see that people can help to improve the project (too sad that i'm not a programmer). dkim-exchange is a small project, but i'm sure it is used by lot of smaller companies (like us)

[2018-01-05 01:32] BrianDrab commented on #112
We are encountering the same issue.
Exchange Version: 15.1.1261.35
DKIM Signer Version: 3.0.12
Windows Server Version 6.3 (Build 9600) aka Server 2012 R2

Is this an error we should just ignore?

[2018-01-05 22:17] michelle911 commented on #201
I am having the same issue - domain is barngroverglass.com select bgrmail

[2018-01-13 09:09] davidenco opened #202 "Support for Exchange Server 2013 CU19?"
Can you add support for Exchange Server 2013 CU19 please?

[2018-01-14 16:40] #200 closed

[2018-01-14 16:43] Pro commented on #200
@stryqx i will close this "issue" for now. Feel free to create PRs and I will review them. Unfortunately I cannot invest much time on working on the issues or PRs, so it would also be very helpful if you can try to solve issues reported by others and create a corresponding PR.

[2018-01-14 17:05] Pro commented on #112
You can probably just ignore this message, since it doesn't impact the functionality of the signer

[2018-01-14 19:42] kubik256 commented on #172
Hi, I had this problem few months ago. I've solved this by turning off auto-signing emails feature in antivirus SW. AV software never had any registered transport agent, but somehow it was still able to change every outgoing email.

May be this can help. BR

[2018-01-14 21:23] Pro commented on #172
Thanks for the update. DKIM Signer has to be the last entity changing the email/calculating the body hash. If there's any other tool changing the email after the signer calculated the body hash, it will result in a wrong body hash.

Therefore always make sure that there is no AntiVirus/Gateway/Firewall/ISP/Provider which changes your email after it is sent.

[2018-01-14 21:23] #172 closed

[2018-01-15 01:06] supermistag commented on #112
Ignoring an error in the event log becomes bad practice IMHO.

As per my above post, the fix in the code is fairly simple - moving the .resume to just before .complete

[code]

[2018-01-15 01:17] BrianDrab commented on #112
I saw that but can you tell me the file I can make this code change in or is it something a developer has to do?

[2018-01-15 22:51] supermistag commented on #112
A developer would need to make the change.

[2018-01-19 21:07] wioxjk opened #203 "Plans for ARC (Authenticated Received Chain)?"
Are there any plans to support ARC with this plugin?

[2018-01-29 15:21] suastiastu opened #204 "Not passing the Gmail test"
### Versions

- **Windows Server Version**: SBS2011
- **Exchange Version**: 2010 SP3
- **Installed DKIM Exchange Version**: 3.0.13

### Not passing Gmail test - shows dkim=neutral (bad format) header.i=@diaspora.legal header.b=rrf+TMQz;

[

### Steps to Reproduce

1.Install out of the box
2. Setup domain TXT record by copying from DKIM signer

**Expected behavior:** [Pass the Gmail test when I sen

[2018-01-30 19:43] PaulSD opened #205 "Message body signed incorrectly when MIME file name is too long"
### Versions

- **Windows Server Version**: 2016
- **Exchange Version**: 2016 CU8 (15.1.1415.2)
- **Installed DKIM Exchange Version**: 3.0.13

### Description

dkim-exchange produces an invalid body signature (gmail, OpenDKIM, and Cisco IronPorts all report it as invalid) for the following test message:
[code]

Using any filename <= 57 characters seems to work, but any filename >= 58 characters ca

[2018-01-30 19:50] PaulSD commented on #205
It looks like https://github.com/jstedfast/MimeKit/issues/236 may be relevant ... Perhaps MimeKit is RFC2047 encoding the Content-Description header when generating the DKIM signature, but dkim-exchange is not keeping the encoded version of the body produced/used by MimeKit?

[2018-02-01 18:04] jstedfast commented on #205
Hmmm, it's possible that @PaulSD 's guess is correct, but that would suggest that different `FormatOptions` are being used when signing and WriteTo().

Looking at https://github.com/Pro/dkim-exchange/blob/master/Src/Exchange.DkimSigner/DkimSigner.cs#L179, it looks like the default `FormatOptions` are used in both cases, however, it *looks like* the code passes the raw MimeMessage stream back to th

[2018-02-01 18:16] jstedfast commented on #205
Looking at the sample message text in the original comment, I couldn't help but notice that there is no `Content-Transfer-Encoding` specified.

This could be the source of the problem as well (unless the image/png attachment really does simply contain the content `testing`).

You might want to "prepare" the message for signing by doing:

[code]

This forces MimeKit to examine all of the mime parts

[2018-02-01 18:56] PaulSD commented on #205
The message that goes into exchange and the message that comes out of exchange are identical (confirmed via a hexdump of tcpdump data) ... but maybe MimeKit is folding the header, then Exchange is unfolding it?  I'll see if I can find a way to get a copy of the raw message after it is signed by MimeKit and before it is sent back to Exchange...

Adding a `Content-Transfer-Encoding` header doesn't s

[2018-02-02 02:59] PaulSD commented on #205
For what it's worth, running the following code to sign my above test message directly using MimeKit seems to generate a valid signature and does not modify the body in any way:
[code]

[2018-02-02 14:40] suastiastu commented on #204
All sorted. The issue was defining a selector and including that selector in the key

[2018-02-02 14:40] #204 closed

[2018-02-06 21:19] PaulSD commented on #205
I haven't been able to find any way to prevent `mailItem.GetMimeWriteStream().WriteTo()` from unwrapping the Content-Description ... `mailItem.Message.Normalize()` seems to erase the whole message body.

So the only solution seems to be to have MimeDocument reformat the message before signing.

[2018-02-07 07:06] Pro commented on #112
Fixed in #208

[2018-02-07 07:06] #112 closed

[2018-02-07 07:08] #205 closed

[2018-02-07 15:07] jstedfast commented on #205
Awesome, glad you found a solution!

[2018-02-16 16:08] snbx64 opened #209 "No password finder specified, but a password is required"
### Versions

- **Windows Server Version**: [2012]
- **Exchange Version**: [2013]
- **Installed DKIM Exchange Version**: [3.0.13]

### Description
I am trying to specify a password protected private key file.  When I try this I receive the error:-
No password finder specified, but a password is required
Presumably from bouncycastle.dll
https://github.com/kerryjiang/BouncyCastle.Crypto/blob/master/

[2018-02-21 17:16] dhirsch3D opened #210 "Cannot install on Exchange 2013 SP1 CU15"
### Versions

- **Windows Server Version**: Server 2012 R2 Standard
- **Exchange Version**: Exchange 2013 SP1 CU15 (15.0.1263.5)
- **Installed DKIM Exchange Version**: 3.0.13

### Description

When I attempt to install the software using the normal method, it claims to install successfully, but doesn't actually sign anything.  When I use the fully manual PowerShell method, I get these errors:

[co

[2018-02-22 13:51] snbx64 commented on #209
Has anyone else had this issue or are you using non password protected private keys ?

[2018-02-24 21:05] AlexLaroche commented on #209
We are using non password protected private keys. You don't have any extra protection when your encrypt your private key if the password for decrypt it is in clear text.

[2018-02-26 18:19] Westernstandard commented on #198
I am getting this too (on 3.0.13) and since it can't check for newer versions, it never offers the option to do the installation via the GUI. Tried doing the manual install, but the install.ps1 script is not part of the latest release. It must be downloaded as part of the full source. After running the script (has errors), Transport service will not restart. Must uninstall to get it running again.

[2018-02-28 15:29] tweekoeken opened #211 "Transport Service will not start after DKIM Agent installation (Ex2010 RU19)"
### Versions

- **Windows Server Version**: Server 2008r2
- **Exchange Version**: Exchange 2010 rollup 19 (transport / common dlls at v14.0.0336.000)
- **Installed DKIM Exchange Version**: both 3.0.13 and 3.0.12 have this issue

### Description

I installed the signing agent using the install.ps1 because originally this server did not have .net 4.5.2 installed. Installation goes smoothly, the 2010

[2018-03-05 13:16] coolwebcool commented on #198
got the same issue recently, any update?

[2018-03-05 16:54] Westernstandard commented on #198
I've committed a fix that would resolve the issue if it is accepted into the main branch. In Microsoft's infinite wisdom, they determined that the security selector would operate in both a restrictive and permissive form. By default, they allow SSL3 and TLS1.0, but they also restrict to those two protocols. Since Github is now probably running TLS1.2, it is not permitted. I've uploaded a fix to pe

[2018-03-05 16:55] Westernstandard commented on #198
I've committed a fix that would resolve the issue if it is accepted into the main branch. In Microsoft's infinite wisdom, they determined that the security selector would operate in both a restrictive and permissive form. By default, they allow SSL3 and TLS1.0, but they also restrict to those two protocols. Since Github is now probably running TLS1.2, it is not permitted. I've uploaded a fix to pe

[2018-03-06 02:00] coolwebcool commented on #198
@Westernstandard  thank you very much on the detail, but I totally new on the programing, So I have can not install the client on my new MX server as the version getting failed and the install buttom is gray, and try to install manually, but lot of error and mx services unable to start, so that I have to uninstall. wish have new version can fix this issue soon. Thank you!

[2018-03-06 23:46] Westernstandard commented on #198
You can download the recompiled version here: [https://www.westernstandard.com/downloads/recompiled.7z](url) It will allow you to install, but you won't be able to get updates because the portion of the code is from the downloaded package during install.